/*
body *:not(.preloader) {
    display: none;
}
*/

body, html {
    overflow: hidden;
}


.preloader {
    z-index: 1000;
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background: #EFEDF0;
}

.preloader img {
    width: 33.3333333%;
    height: auto;
}

#first_black {
    z-index: 1001;
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background: black;
    display: block;
    opacity: 0;
}

.preloader img {
    z-index: 1001;
    display: block;
    top: 50%;
    left: 50%;
    position: absolute;
    transform: translate(-50%, -50%);
}

.div_block_with_border {
    position: relative;
    width: 137px;
    height: 26px;
    color: rgba(255, 255, 255, 0.5);
    z-index: 11;
    font-size: 10px;
    font-family: 'GothamPro-Light';
}

.ttt {
    font-size: 10px;
    font-family: 'GothamPro-Light';
    text-align: center;
    vertical-align: middle;
}

.div_block_with_border .text {
    font-size: 10px;
    font-family: 'GothamPro-Light';
    top: -40px;
    position: relative;
    z-index: 11;
}

/*
.section[data-index="1"] {
    transition: transform 1.7s ease-in;
}
*/

#two_circle_line {
    position: absolute;
    top: -82px;
    left: 86%;
    width: 100%;
    height: auto;
    z-index: 15;
}

.dark-bottom {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    width: 100%;
    height: 100%;
    background: url(../img/main-layer2.png) center no-repeat;
    -webkit-background-size: cover;
    background-size: cover;
    z-index: 10;
}

.section[data-index="1"] {
    transform: scale(1.1);
}

#svg_border_anim, #text_more, .go-to-second {
    cursor: pointer;
}

#text_more {
    position: relative;
    top: -20px;
    /*text-align: center;*/
    left: 37px;
}

@keyframes rotating-light-left {
    0% {
        transform: rotate(15deg);
    }
    /*25%  { transform: rotate(0deg); }*/
    50% {
        transform: rotate(-15deg);
    }
    /*75%  { transform: rotate(0deg); }*/
    100% {
        transform: rotate(15deg);
    }
}

.rotating-light-left {
    animation: rotating-light-left 8.4s ease infinite;
}

.light-left {
    transform-origin: 0% 100%;
    transform: rotate(15deg);
    background-position: 0% 100%;
    -webkit-backface-visibility: hidden;
}

@keyframes rotating-light-right {
    0% {
        transform: rotate(10deg);
    }
    50% {
        transform: rotate(-25deg);
    }
    100% {
        transform: rotate(10deg);
    }
}

.rotating-light-right {
    animation: rotating-light-right 8.4s ease infinite;
}

.light-right {
    transform-origin: 100% 80%;
    transform: rotate(10deg);
    background-position: 100% 100%;
    top: -9%;
    width: 59%;
    right: -2%;
}

.diamonds {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    transition: opacity .2s ease-in-out;
    z-index: 2;
}

#diamond_1 {
    background: url(../img/diamonds1.png) center no-repeat;
    opacity: 0;
    background-size: cover;
}

#diamond_2 {
    background: url(../img/diamonds2.png) center no-repeat;
    opacity: 0;
    background-size: cover;
}

@keyframes diamond_1_animation {
    0% {
        opacity: 0;
    }
    50% {
        opacity: 1;
    }

    55% {
        opacity: 1;
    }
    71% {
        opacity: 0;
    }
    100% {
        opacity: 0;
    }

}

.diamond_1_animation {

    animation-name: diamond_1_animation;
    animation-duration: 8.4s;
    animation-timing-function: ease;
    animation-iteration-count: infinite;
    animation-play-state: running;
}

@keyframes diamond_2_animation {
    0% {
        opacity: 1;
    }

    10% {
        opacity: 1;
    }
    30% {
        opacity: 0;
    }
    60% {
        opacity: 0;
    }
    75% {
        opacity: 1;
    }
    100% {
        opacity: 1;
    }
}

.diamond_2_animation {

    animation-name: diamond_2_animation;
    animation-duration: 8.4s;
    animation-timing-function: ease;
    /*animation-delay: 2.0s; */
    animation-direction: normal;
    animation-iteration-count: infinite;
    animation-fill-mode: none;
    animation-play-state: running;
}

.two-lines-forward, .two-lines-down {
    position: absolute;
    top: 16px;
    right: 38%;
    width: 100%;
    height: 60px;
    background-color: white;
}

.two-lines-forward {
    height: 3px;
}
.two-lines-down {
    width: 3px;
}

#two__line {
    position: absolute;
    top: 16px;
    right: 38%;
    width: 100%;
    height: 60px;
    display: block;
}

#section3hidefisrtblock {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 1;
    background-color: white;
}

.cursorcoin  {
    cursor:  url('../img/monet/coin.png'), auto !important;

}


.circle {
    border-radius: 50%;
    width: 30px;
    height: 30px;
    position: absolute;
    background-color: rgba(255,255,255,0.4);
    z-index: 1;
}

#for_monet_cursor {
    position: absolute;
    top: -20px;
    left: -40px;
    right: 0px;
    height: 180px;
    z-index: 3;
}

#gift {
    position: absolute;
    top: 25px;
    left: 25px;
    right: 35px;
    height: 95px;
}

.blur-out-wrap .blur-out-here{
    /*z-index: 2;*/
}


#insert_circle {
    position: absolute;
    top: 25px;
    left: 25px;
    right: 35px;
    height: 95px;
}


#erase_block {
    user-select: none;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;


    background-color: transparent;

}

#canvas_erase_block {
    /*background:url('../img/monet/erase_first.png');*/
    position: absolute;
    top: 25px;
    left: 25px;
    width: 360px;
    height: 94px;
    z-index: 3;
}

.canvas-container {
    position:absolute !important;
    top: 25px;
    left: 25px;
    z-index: 3;
    background-color: transparent;
    background:url('../img/monet/erase_first.png');
}

.upper-canvas {
    z-index: 3;
    background-color: transparent;

}

.not-cursor {
    cursor: not-allowed;
}

#buy_after {
    display: none;
}


