html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline
}

article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section, main {
    display: block
}

body {
    line-height: 1
}

ol, ul {
    list-style: none
}

blockquote, q {
    quotes: none
}

blockquote:before, blockquote:after, q:before, q:after {
    content: '';
    content: none
}

table {
    border-collapse: collapse;
    border-spacing: 0
}

@font-face {
    font-family: 'GothamPro-Light';
    src: url("../fonts/GothamPro-Light.eot?#iefix") format("embedded-opentype"), url("../fonts/GothamPro-Light.woff") format("woff"), url("../fonts/GothamPro-Light.ttf") format("truetype"), url("../fonts/GothamPro-Light.svg#GothamPro-Light") format("svg");
    font-weight: normal;
    font-style: normal
}

@font-face {
    font-family: 'GothamPro-Medium';
    src: url("../fonts/GothamPro-Medium.eot?#iefix") format("embedded-opentype"), url("../fonts/GothamPro-Medium.woff") format("woff"), url("../fonts/GothamPro-Medium.ttf") format("truetype"), url("../fonts/GothamPro-Medium.svg#GothamPro-Medium") format("svg");
    font-weight: normal;
    font-style: normal
}

@font-face {
    font-family: 'GothamPro-Black';
    src: url("../fonts/GothamPro-Black.eot?#iefix") format("embedded-opentype"), url("../fonts/GothamPro-Black.woff") format("woff"), url("../fonts/GothamPro-Black.ttf") format("truetype"), url("../fonts/GothamPro-Black.svg#GothamPro-Black") format("svg");
    font-weight: normal;
    font-style: normal
}

@font-face {
    font-family: 'GothamPro-Bold';
    src: url("../fonts/GothamPro-Bold.eot?#iefix") format("embedded-opentype"), url("../fonts/GothamPro-Bold.woff") format("woff"), url("../fonts/GothamPro-Bold.ttf") format("truetype"), url("../fonts/GothamPro-Bold.svg#GothamPro-Bold") format("svg");
    font-weight: normal;
    font-style: normal
}

@font-face {
    font-family: 'GothamPro-MediumItalic';
    src: url("../fonts/GothamPro-MediumItalic.eot?#iefix") format("embedded-opentype"), url("../fonts/GothamPro-MediumItalic.woff") format("woff"), url("../fonts/GothamPro-MediumItalic.ttf") format("truetype"), url("../fonts/GothamPro-MediumItalic.svg#GothamPro-MediumItalic") format("svg");
    font-weight: normal;
    font-style: normal
}

@font-face {
    font-family: 'GothamPro';
    src: url("../fonts/GothamPro.eot?#iefix") format("embedded-opentype"), url("../fonts/GothamPro.woff") format("woff"), url("../fonts/GothamPro.ttf") format("truetype"), url("../fonts/GothamPro.svg#GothamPro") format("svg");
    font-weight: normal;
    font-style: normal
}

.clearfix:after {
    content: "";
    display: table;
    clear: both
}

body, .onepage-wrapper, html {
    display: block;
    position: static;
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
    -webkit-transition: opacity 400ms;
    -moz-transition: opacity 400ms;
    transition: opacity 400ms
}

.disabled-onepage-scroll, .disabled-onepage-scroll .wrapper {
    overflow: auto
}

.disabled-onepage-scroll .onepage-wrapper .section {
    position: static !important;
    top: auto !important;
    left: auto !important
}

.disabled-onepage-scroll .onepage-wrapper {
    -webkit-transform: none !important;
    -moz-transform: none !important;
    transform: none !important;
    -ms-transform: none !important
}

.disabled-onepage-scroll .onepage-pagination {
    display: none
}

body.disabled-onepage-scroll, .disabled-onepage-scroll .onepage-wrapper, html {
    position: inherit
}

.onepage-wrapper {
    width: 100%;
    height: 100%;
    display: block;
    position: relative;
    padding: 0;
    -webkit-transform-style: preserve-3d
}

.onepage-wrapper .section {
    width: 100%;
    height: 100%
}

.onepage-pagination {
    position: absolute;
    right: 50px;
    top: 39%;
    z-index: 5;
    list-style: none;
    margin: 0;
    padding: 0
}

.onepage-pagination li {
    margin: 4px 0
}

.onepage-pagination a {
    display: inline-block;
    position: relative;
    width: 17px;
    height: 10px;
    border: 1px solid rgba(255, 255, 255, 0.5);
    -webkit-transition: all 0.5s ease-out;
    -moz-transition: all 0.5s ease-out;
    -ms-transition: all 0.5s ease-out;
    -o-transition: all 0.5s ease-out;
    transition: all 0.5s ease-out
}

.onepage-pagination a::before {
    content: '';
    position: absolute;
    top: 4px;
    left: -26px;
    width: 14px;
    border-top: 1px solid rgba(255, 255, 255, 0.5);
    -webkit-transition: all 0.6s ease-out;
    -moz-transition: all 0.6s ease-out;
    -ms-transition: all 0.6s ease-out;
    -o-transition: all 0.6s ease-out;
    transition: all 0.6s ease-out
}

.onepage-pagination a::after {
    content: '';
    position: absolute;
    top: -1px;
    left: -26px;
    width: 6px;
    height: 11px;
    opacity: 0;
    background: url(../img/triangle-left.png) center no-repeat;
    -webkit-transition: all 0.6s ease-out;
    -moz-transition: all 0.6s ease-out;
    -ms-transition: all 0.6s ease-out;
    -o-transition: all 0.6s ease-out;
    transition: all 0.6s ease-out
}

.onepage-pagination a.active {
    border: 1px solid #fff
}

.onepage-pagination a.active::before {
    left: -62px;
    width: 50px;
    border-top: 1px solid #fff;
    -webkit-transition: all 0.4s ease-out;
    -moz-transition: all 0.4s ease-out;
    -ms-transition: all 0.4s ease-out;
    -o-transition: all 0.4s ease-out;
    transition: all 0.4s ease-out
}

.onepage-pagination a.active::after {
    content: '';
    position: absolute;
    top: -1px;
    left: -63px;
    width: 6px;
    height: 11px;
    opacity: 1;
    background: url(../img/triangle-left.png) center no-repeat;
    -webkit-transition: all 0.4s ease-out;
    -moz-transition: all 0.4s ease-out;
    -ms-transition: all 0.4s ease-out;
    -o-transition: all 0.4s ease-out;
    transition: all 0.4s ease-out
}

.viewing-page-2 .onepage-pagination, .viewing-page-4 .onepage-pagination, .viewing-page-5 .onepage-pagination, .viewing-page-9 .onepage-pagination, .viewing-page-10 .onepage-pagination {
    position: absolute;
    right: 50px;
    top: 39%;
    z-index: 5;
    list-style: none;
    margin: 0;
    padding: 0
}

.viewing-page-2 .onepage-pagination li, .viewing-page-4 .onepage-pagination li, .viewing-page-5 .onepage-pagination li, .viewing-page-9 .onepage-pagination li, .viewing-page-10 .onepage-pagination li {
    margin: 4px 0
}

.viewing-page-2 .onepage-pagination a, .viewing-page-4 .onepage-pagination a, .viewing-page-5 .onepage-pagination a, .viewing-page-9 .onepage-pagination a, .viewing-page-10 .onepage-pagination a {
    display: inline-block;
    position: relative;
    width: 17px;
    height: 10px;
    border: 1px solid rgba(0, 0, 0, 0.5);
    -webkit-transition: all 0.5s ease-out;
    -moz-transition: all 0.5s ease-out;
    -ms-transition: all 0.5s ease-out;
    -o-transition: all 0.5s ease-out;
    transition: all 0.5s ease-out
}

.viewing-page-2 .onepage-pagination a::before, .viewing-page-4 .onepage-pagination a::before, .viewing-page-5 .onepage-pagination a::before, .viewing-page-9 .onepage-pagination a::before, .viewing-page-10 .onepage-pagination a::before {
    content: '';
    position: absolute;
    top: 4px;
    left: -26px;
    width: 14px;
    border-top: 1px solid rgba(0, 0, 0, 0.5);
    -webkit-transition: all 0.6s ease-out;
    -moz-transition: all 0.6s ease-out;
    -ms-transition: all 0.6s ease-out;
    -o-transition: all 0.6s ease-out;
    transition: all 0.6s ease-out
}

.viewing-page-2 .onepage-pagination a::after, .viewing-page-4 .onepage-pagination a::after, .viewing-page-5 .onepage-pagination a::after, .viewing-page-9 .onepage-pagination a::after, .viewing-page-10 .onepage-pagination a::after {
    content: '';
    position: absolute;
    top: -1px;
    left: -26px;
    width: 6px;
    height: 11px;
    opacity: 0;
    background: url(../img/triangle-left-black.png) center no-repeat;
    -webkit-transition: all 0.6s ease-out;
    -moz-transition: all 0.6s ease-out;
    -ms-transition: all 0.6s ease-out;
    -o-transition: all 0.6s ease-out;
    transition: all 0.6s ease-out
}

.viewing-page-2 .onepage-pagination a.active, .viewing-page-4 .onepage-pagination a.active, .viewing-page-5 .onepage-pagination a.active, .viewing-page-9 .onepage-pagination a.active, .viewing-page-10 .onepage-pagination a.active {
    border: 1px solid #000
}

.viewing-page-2 .onepage-pagination a.active::before, .viewing-page-4 .onepage-pagination a.active::before, .viewing-page-5 .onepage-pagination a.active::before, .viewing-page-9 .onepage-pagination a.active::before, .viewing-page-10 .onepage-pagination a.active::before {
    left: -62px;
    width: 50px;
    border-top: 1px solid #000;
    -webkit-transition: all 0.4s ease-out;
    -moz-transition: all 0.4s ease-out;
    -ms-transition: all 0.4s ease-out;
    -o-transition: all 0.4s ease-out;
    transition: all 0.4s ease-out
}

.viewing-page-2 .onepage-pagination a.active::after, .viewing-page-4 .onepage-pagination a.active::after, .viewing-page-5 .onepage-pagination a.active::after, .viewing-page-9 .onepage-pagination a.active::after, .viewing-page-10 .onepage-pagination a.active::after {
    content: '';
    position: absolute;
    top: -1px;
    left: -63px;
    width: 6px;
    height: 11px;
    opacity: 1;
    background: url(../img/triangle-left-black.png) center no-repeat;
    -webkit-transition: all 0.4s ease-out;
    -moz-transition: all 0.4s ease-out;
    -ms-transition: all 0.4s ease-out;
    -o-transition: all 0.4s ease-out;
    transition: all 0.4s ease-out
}

.page-nav {
    position: absolute;
    top: 50%;
    left: 50px;
    z-index: 100
}

.modal .modal-header {
    border: 0;
    text-align: center
}

.modal .modal-content {
    width: 400px;
    margin: 12% auto 0;
    padding: 25px 15px;
    border-radius: 0
}

.modal h4 {
    margin-bottom: 25px;
    color: #000;
    font-size: 20px;
    font-family: "GothamPro";
    text-align: center
}

.modal .close {
    position: absolute;
    top: 0;
    right: 3px;
    border: 0;
    color: #ccc;
    background: none;
    font-size: 24px;
    outline: none
}

.modal .send-form {
    position: relative;
    margin: 20px auto;
    padding: 6px 30px;
    color: #000;
    background: none;
    border: 1px solid #000;
    font-size: 14px;
    font-family: "GothamPro-Light";
    text-transform: uppercase;
    text-align: center;
    outline: none
}

.modal input {
    width: 100%;
    margin-bottom: 15px;
    color: #000;
    font-size: 12px;
    font-family: "GothamPro-Light";
    border: 1px solid #000;
    padding: 8px 10px;
    box-sizing: border-box
}

.modal input::-webkit-input-placeholder {
    color: #000;
    font-family: "GothamPro-Light"
}

.modal input::-moz-placeholder {
    color: #000;
    font-family: "GothamPro-Light"
}

.modal input:-moz-placeholder {
    color: #000;
    font-family: "GothamPro-Light"
}

.modal input:-ms-input-placeholder {
    color: #000;
    font-family: "GothamPro-Light"
}

.blocks section {
    height: 100vh;
    position: relative
}

.blocks section .container {
    position: relative;
    width: 1090px;
    margin: 0 auto;
    padding: 50px 0;
    box-sizing: border-box
}

.blocks section .title {
    margin-bottom: 25px;
    color: #000;
    font-size: 40px;
    font-family: "GothamPro"
}

.blocks section p {
    position: relative;
    margin-bottom: 20px;
    color: #000;
    font-size: 14px;
    font-family: "GothamPro";
    text-align: left;
    text-indent: 20px;
    line-height: 1.1
}

.blocks section p.m-italic {
    font-family: "GothamPro-MediumItalic"
}

.blocks section p.m {
    font-family: "GothamPro-Medium"
}

.blocks section p.with-line {
    text-indent: 65px
}

.blocks section p.with-line:before {
    content: '';
    position: absolute;
    top: 6px;
    left: 0;
    width: 55px;
    border: 1px solid #000
}

.blocks section b {
    font-family: "GothamPro-Bold"
}

.blocks section:nth-of-type(1) {
    background: url(../img/main-bg.png) center no-repeat;
    -webkit-background-size: cover;
    background-size: cover
}

.blocks section:nth-of-type(1)::after {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    width: 100%;
    height: 100%;
    background: url(../img/main-layer2.png) center no-repeat;
    -webkit-background-size: cover;
    background-size: cover;
    z-index: 10
}

.blocks section:nth-of-type(2) .left {
    float: left;
    width: 68%;
    text-align: center
}

.blocks section:nth-of-type(2) .right {
    float: left;
    position: relative;
    width: 32%;
    text-align: right
}

.blocks section:nth-of-type(2) .layers-wrap {
    position: relative;
    margin-top: 30%
}

.blocks section:nth-of-type(2) .layers-wrap img {
    position: absolute;
    left: 0;
    right: 0;
    margin: 0 auto
}

.blocks section:nth-of-type(2) .layers-wrap img:first-child {
    top: 45px;
    left: -85px
}

.blocks section:nth-of-type(2) .layers-wrap img:last-child {
    right: -80px
}

.blocks section:nth-of-type(2) .two-lines {
    position: absolute;
    top: 16px;
    right: 38%;
    width: 100%;
    height: 60px;
    border-top: 1px solid #000;
    border-right: 1px solid #000
}

.blocks section:nth-of-type(3) {
    background: url(../img/screen3-bg.png) center 0 no-repeat;
    background-size: 100%
}

.blocks section:nth-of-type(3) .title {
    margin-top: 15px;
    font-size: 25px;
    text-transform: uppercase
}

.blocks section:nth-of-type(3) .left {
    float: left;
    width: 32%;
    text-align: center
}

.blocks section:nth-of-type(3) .right {
    float: left;
    position: relative;
    width: 68%;
    text-align: center
}

.blocks section:nth-of-type(3) .layers-wrap {
    position: relative;
    margin-top: 30%
}

.blocks section:nth-of-type(3) .layers-wrap img {
    position: absolute;
    left: 0;
    right: 0;
    margin: 0 auto
}

.blocks section:nth-of-type(3) .layers-wrap img:nth-child(1) {
    top: -10px;
    z-index: 10
}

.blocks section:nth-of-type(3) .layers-wrap img:nth-child(2) {
    top: 60px;
    z-index: 9
}

.blocks section:nth-of-type(3) .layers-wrap img:nth-child(3) {
    top: 130px;
    z-index: 8
}

.blocks section:nth-of-type(3) .layers-wrap img:nth-child(4) {
    top: 200px;
    z-index: 7
}

.blocks section:nth-of-type(3) .layers-wrap p.must-know {
    position: absolute;
    top: 370px;
    right: 0;
    color: #fff;
    font-size: 18px;
    font-family: "GothamPro-Bold"
}

.blocks section:nth-of-type(3) .what-is {
    margin-top: 60px;
    margin-left: 50px;
    text-align: left
}

.blocks section:nth-of-type(3) .what-is .row {
    margin-bottom: 30px
}

.blocks section:nth-of-type(3) .what-is span {
    display: inline-block;
    color: #fff;
    font-size: 14px;
    font-family: "GothamPro-Light";
    vertical-align: top
}

.blocks section:nth-of-type(3) .what-is span:nth-child(1) {
    width: 20px;
    padding: 0 20px 0 10px;
    text-align: center
}

.blocks section:nth-of-type(3) .what-is span.line {
    width: 200px;
    margin-top: 5px;
    margin-right: 20px;
    border-top: 1px solid rgba(255, 255, 255, 0.33);
    vertical-align: top
}

.blocks section:nth-of-type(3) .what-is span.icon {
    width: 42px;
    margin-right: 20px;
    text-align: center
}

.blocks section:nth-of-type(3) .btm-text {
    margin: 48px 0 0 50px
}

.blocks section:nth-of-type(3) .btm-text p {
    position: relative;
    margin-bottom: 0;
    color: #fff;
    font-size: 14px;
    font-family: "GothamPro";
    text-indent: 25px
}

.blocks section:nth-of-type(3) .btm-text p:before {
    content: '';
    position: absolute;
    top: 7px;
    left: 0;
    width: 20px;
    height: 1px;
    background: #fff;
    opacity: 0.33
}

.blocks section:nth-of-type(3) .btm-text p b {
    font-family: "GothamPro-Bold"
}

.blocks section:nth-of-type(4) .title {
    font-size: 25px;
    text-transform: uppercase;
    text-align: center
}

.blocks section:nth-of-type(4) .razor-wrap {
    margin: 100px auto;
    text-align: center
}

.blocks section:nth-of-type(4) .left {
    float: left;
    width: 50%;
    padding-right: 20px;
    box-sizing: border-box
}

.blocks section:nth-of-type(4) .right {
    float: left;
    width: 50%;
    padding-left: 20px;
    box-sizing: border-box
}

.blocks section:nth-of-type(4) .before {
    display: inline-block
}

.blocks section:nth-of-type(4) .and {
    display: inline-block
}

.blocks section:nth-of-type(4) .and img {
    margin: 85px 20px;
    vertical-align: top
}

.blocks section:nth-of-type(4) .after {
    display: inline-block
}

.blocks section:nth-of-type(4) .label {
    margin-bottom: 10px;
    color: #000;
    font-size: 14px;
    font-family: "GothamPro-Medium";
    text-align: center
}

.blocks section:nth-of-type(4) .img-wrap {
    width: 220px;
    height: 130px;
    border: 1px solid #7d7d7d
}

.blocks section:nth-of-type(5) .title {
    font-size: 25px;
    text-transform: uppercase;
    text-align: center
}

.blocks section:nth-of-type(5) .simple-text {
    width: 89%;
    margin: 0 auto
}

.blocks section:nth-of-type(5) .using-zattoch {
    margin: 50px auto;
    text-align: center
}

.blocks section:nth-of-type(5) .using-zattoch p {
    margin-bottom: 5px;
    color: #000;
    text-indent: 0
}

.blocks section:nth-of-type(5) .using-zattoch p.title {
    margin-bottom: 35px;
    text-transform: none
}

.blocks section:nth-of-type(5) .using-zattoch p.subtext {
    margin-bottom: 15px;
    font-size: 16px;
    font-family: "GothamPro"
}

.blocks section:nth-of-type(5) .using-zattoch p.total-price {
    font-size: 22px;
    font-family: "GothamPro"
}

.blocks section:nth-of-type(5) .using-zattoch p .price-red {
    color: #d40000
}

.blocks section:nth-of-type(5) .using-zattoch p .some-green {
    color: #00a100
}

.blocks section:nth-of-type(5) .using-zattoch p.or {
    margin-top: -15px;
    font-size: 50px;
    font-family: "GothamPro-Light";
    text-align: center;
    vertical-align: top
}

.blocks section:nth-of-type(5) .using-zattoch p.full {
    font-size: 25px;
    font-family: "GothamPro"
}

.blocks section:nth-of-type(5) .using-zattoch p.economy {
    font-size: 25px;
    font-family: "GothamPro"
}

.blocks section:nth-of-type(5) .using-zattoch .col1 {
    float: left;
    width: calc(50% - 110px);
    vertical-align: top;
    box-sizing: border-box
}

.blocks section:nth-of-type(5) .using-zattoch .col1:nth-of-type(1) p {
    text-align: right
}

.blocks section:nth-of-type(5) .using-zattoch .col1:nth-of-type(1) p.economy {
    margin-top: 30px
}

.blocks section:nth-of-type(5) .using-zattoch .col1:nth-of-type(2) {
    width: 220px
}

.blocks section:nth-of-type(5) .using-zattoch .col1:nth-of-type(3) p.economy {
    margin-top: 14px
}

.blocks section:nth-of-type(6) {
    background: url(../img/screen6-round.png) 80% center no-repeat;
    background-color: #000
}

.blocks section:nth-of-type(6) .text-block {
    position: absolute;
    top: 200px;
    color: #fff
}

.blocks section:nth-of-type(6) .text-block span {
    display: block;
    font-size: 44px;
    font-family: "GothamPro-Light"
}

.blocks section:nth-of-type(6) .text-block span:nth-of-type(2) {
    font-size: 65px
}

.blocks section:nth-of-type(6) .rotate-wrap {
    position: absolute;
    top: 120px;
    right: 18%
}

.blocks section:nth-of-type(6) .rotate-wrap .img {
    width: 335px;
    height: 335px;
    border: 1px solid #fff;
    text-align: center;
    -moz-transform: rotate(-45deg);
    -webkit-transform: rotate(-45deg);
    -o-transform: rotate(-45deg);
    -ms-transform: rotate(-45deg);
    transform: rotate(-45deg)
}

.blocks section:nth-of-type(6) .rotate-wrap .img img {
    margin: 35px 0;
    -moz-transform: rotate(45deg);
    -webkit-transform: rotate(45deg);
    -o-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    transform: rotate(45deg);
    box-shadow: 0 0 20px #000
}

.blocks section:nth-of-type(6) .rotate-wrap .img .line-top {
    position: absolute;
    top: 50%;
    right: -50px;
    width: 50px;
    border-top: 1px solid #fff
}

.blocks section:nth-of-type(6) .rotate-wrap .img .line-btm1 {
    position: absolute;
    top: 50%;
    left: -50px;
    width: 50px;
    border-top: 1px solid #fff
}

.blocks section:nth-of-type(6) .rotate-wrap .img .line-btm2 {
    position: absolute;
    left: 44%;
    bottom: -27px;
    width: 50px;
    border-top: 1px solid #fff;
    -moz-transform: rotate(90deg);
    -webkit-transform: rotate(90deg);
    -o-transform: rotate(90deg);
    -ms-transform: rotate(90deg);
    transform: rotate(90deg)
}

.blocks section:nth-of-type(6) .rotate-wrap p {
    color: #fff;
    font-size: 13px;
    font-family: "GothamPro-Light";
    text-indent: 0
}

.blocks section:nth-of-type(6) .rotate-wrap .text1 {
    position: absolute;
    top: -23px;
    right: -261px;
    width: 300px
}

.blocks section:nth-of-type(6) .rotate-wrap .text1 .icon {
    float: left;
    margin-right: 10px
}

.blocks section:nth-of-type(6) .rotate-wrap .text2 {
    position: absolute;
    bottom: -110px;
    left: -165px;
    text-align: center
}

.blocks section:nth-of-type(6) .rotate-wrap .text2 .icon {
    margin-bottom: 10px
}

.blocks section:nth-of-type(6) .rotate-wrap .text3 {
    position: absolute;
    right: -170px;
    bottom: -127px;
    text-align: center;
    width: 300px
}

.blocks section:nth-of-type(6) .rotate-wrap .text3 .icon {
    margin-bottom: 10px
}

.blocks section:nth-of-type(7) {
    background: #000
}

.blocks section:nth-of-type(7) .rounded-bg {
    position: absolute;
    width: 100%;
    height: 100%
}

.blocks section:nth-of-type(7) .rounded-bg:before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 50%;
    height: 100%;
    background: url(../img/circle-blue.png) 0 -227px no-repeat;
    background-size: contain
}

.blocks section:nth-of-type(7) .rounded-bg:after {
    content: '';
    position: absolute;
    bottom: 0;
    right: 0;
    width: 50%;
    height: 100%;
    background: url(../img/circle-pink.png) 69px 27px no-repeat;
    background-size: contain
}

.blocks section:nth-of-type(7) p {
    color: #fff
}

.blocks section:nth-of-type(7) p.bigger {
    font-size: 35px;
    font-family: "GothamPro-Light";
    text-transform: uppercase;
    text-indent: 0
}

.blocks section:nth-of-type(7) p.invert {
    text-align: right
}

.blocks section:nth-of-type(7) .left {
    float: left;
    position: relative;
    width: 35%;
    box-sizing: border-box
}

.blocks section:nth-of-type(7) .left .img-wrap {
    position: absolute;
    right: 40px;
    bottom: 55px
}

.blocks section:nth-of-type(7) .left .img-wrap:before {
    content: '';
    position: absolute;
    top: 13px;
    left: -85px;
    width: 70px;
    border-top: 1px solid #fff
}

.blocks section:nth-of-type(7) .left.invert .bigger {
    text-align: right
}

.blocks section:nth-of-type(7) .left.invert .img-wrap {
    right: auto;
    left: 60px;
    top: 40px
}

.blocks section:nth-of-type(7) .left.invert .img-wrap:before {
    content: '';
    position: absolute;
    top: 13px;
    left: auto;
    right: -85px;
    width: 70px;
    border-top: 1px solid #fff
}

.blocks section:nth-of-type(7) .right {
    float: left;
    width: 65%;
    box-sizing: border-box
}

.blocks section:nth-of-type(7) .row:nth-child(1) {
    margin-bottom: 3%
}

.blocks section:nth-of-type(8) {
    background: #000
}

.blocks section:nth-of-type(9) .title {
    font-size: 25px;
    font-family: "GothamPro-Medium";
    text-align: right;
    text-transform: uppercase
}

.blocks section:nth-of-type(9) .map {
    float: left;
    width: 60%;
    box-sizing: border-box
}

.blocks section:nth-of-type(9) .reviews {
    float: left;
    width: 40%;
    box-sizing: border-box
}

.blocks section:nth-of-type(9) .reviews .review {
    margin-bottom: 50px
}

.blocks section:nth-of-type(9) .reviews figure {
    float: left;
    width: 75px;
    color: #000;
    font-size: 12px;
    font-family: "GothamPro-Medium"
}

.blocks section:nth-of-type(9) .reviews figure figcaption {
    margin-top: 8px;
    text-align: center
}

.blocks section:nth-of-type(9) .reviews p {
    float: left;
    width: calc(100% - 75px);
    padding-left: 10px;
    color: #000;
    font-size: 12px;
    font-family: "GothamPro-Light";
    box-sizing: border-box
}

.blocks section:nth-of-type(10) .title {
    margin-bottom: 15px;
    font-size: 25px;
    font-family: "GothamPro-Medium";
    text-align: center;
    text-transform: uppercase
}

.blocks section:nth-of-type(10) .sub-title {
    margin-bottom: 70px;
    font-size: 14px;
    font-family: "GothamPro";
    text-align: center
}

.blocks section:nth-of-type(10) .sub-title .red {
    color: #ff0000
}

.blocks section:nth-of-type(10) .left {
    float: left;
    width: 50%
}

.blocks section:nth-of-type(10) .blur-out-wrap {
    position: relative;
    width: 445px;
    height: 240px;
    background: url(../img/blur-out.png) no-repeat;
    background-size: contain
}

.blocks section:nth-of-type(10) .blur-out-wrap .blur-out-here {
    position: absolute;
    top: 25px;
    left: 25px;
    right: 35px;
    height: 95px;
    line-height: 95px;
    color: #d3d4d7;
    background: url(../img/blurout-here.png) center no-repeat;
    background-size: 100%;
    font-size: 30px;
    font-family: "GothamPro-Light";
    text-align: center;
    text-transform: uppercase
}

.blocks section:nth-of-type(10) .right {
    float: left;
    width: 50%
}

.blocks section:nth-of-type(10) .some-text {
    margin: 0 auto;
    text-align: center
}

.blocks section:nth-of-type(10) .some-text p {
    font-size: 20px;
    font-family: "GothamPro";
    text-indent: 0
}

.blocks section:nth-of-type(10) .some-text p.with-line {
    margin-bottom: 3px;
    padding-left: 25px;
    font-size: 18px
}

.blocks section:nth-of-type(10) .some-text p.with-line:before {
    content: '';
    position: absolute;
    top: 7px;
    left: 0;
    width: 15px;
    border-top: 1px solid #000;
    opacity: 0.7
}

.blocks section:nth-of-type(10) .some-text p .red {
    color: #ff0000
}

.blocks section:nth-of-type(10) .some-text p:last-of-type {
    margin: 30px 0 0 -50px
}

.blocks section:nth-of-type(10) .some-text button {
    position: relative;
    margin: 20px auto;
    padding: 6px 30px;
    color: #000;
    background: none;
    border: 1px solid #000;
    font-size: 12px;
    font-family: "GothamPro-Light";
    text-transform: uppercase;
    text-align: center;
    outline: none
}

.blocks section:nth-of-type(10) .some-text button:before {
    content: '';
    position: absolute;
    top: 13px;
    left: -108px;
    width: 50px;
    border-top: 1px solid #000;
    -webkit-transition: all 0.1s ease-out;
    -moz-transition: all 0.1s ease-out;
    -ms-transition: all 0.1s ease-out;
    -o-transition: all 0.1s ease-out;
    transition: all 0.1s ease-out
}

.blocks section:nth-of-type(10) .some-text button:after {
    content: '';
    position: absolute;
    top: 8px;
    left: -63px;
    width: 6px;
    height: 11px;
    opacity: 1;
    background: url(../img/triangle-left-black.png) center no-repeat;
    -webkit-transition: all 0.1s ease-out;
    -moz-transition: all 0.1s ease-out;
    -ms-transition: all 0.1s ease-out;
    -o-transition: all 0.1s ease-out;
    transition: all 0.1s ease-out;
    -moz-transform: rotate(180deg);
    -webkit-transform: rotate(180deg);
    -o-transform: rotate(180deg);
    -ms-transform: rotate(180deg);
    transform: rotate(180deg)
}

.blocks section:nth-of-type(10) .some-text button:hover:before {
    content: '';
    position: absolute;
    top: 13px;
    left: -92px;
    width: 80px;
    border-top: 1px solid #000
}

.blocks section:nth-of-type(10) .some-text button:hover:after {
    content: '';
    position: absolute;
    top: 8px;
    left: -16px;
    width: 6px;
    height: 11px;
    opacity: 1;
    background: url(../img/triangle-left-black.png) center no-repeat
}

.open-close-nav {
    width: 29px;
    height: 45px;
    position: relative;
    margin: 0 auto;
    -webkit-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    transform: rotate(0deg);
    -webkit-transition: all 0.4s ease-out;
    -moz-transition: all 0.4s ease-out;
    -ms-transition: all 0.4s ease-out;
    -o-transition: all 0.4s ease-out;
    transition: all 0.4s ease-out;
    cursor: pointer
}

.open-close-nav:hover span {
    border: 1px solid #fff
}

.open-close-nav span {
    display: block;
    position: absolute;
    height: 3px;
    width: 100%;
    border: 1px solid rgba(255, 255, 255, 0.5);
    opacity: 1;
    left: 0;
    -webkit-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    transform: rotate(0deg);
    -webkit-transition: .25s ease-in-out;
    -moz-transition: .25s ease-in-out;
    -o-transition: .25s ease-in-out;
    transition: .25s ease-in-out
}

.open-close-nav span:nth-child(1) {
    top: 0px;
    -webkit-transform-origin: left center;
    -moz-transform-origin: left center;
    -o-transform-origin: left center;
    transform-origin: left center
}

.open-close-nav span:nth-child(2) {
    top: 9px;
    -webkit-transform-origin: left center;
    -moz-transform-origin: left center;
    -o-transform-origin: left center;
    transform-origin: left center
}

.open-close-nav span:nth-child(3) {
    top: 18px;
    -webkit-transform-origin: left center;
    -moz-transform-origin: left center;
    -o-transform-origin: left center;
    transform-origin: left center
}

.open-close-nav.open span {
    border: 1px solid #000
}

.open-close-nav.open span:nth-child(1) {
    -webkit-transform: rotate(45deg);
    -moz-transform: rotate(45deg);
    -o-transform: rotate(45deg);
    transform: rotate(45deg);
    top: 0px;
    left: 4px
}

.open-close-nav.open span:nth-child(2) {
    width: 0%;
    opacity: 0
}

.open-close-nav.open span:nth-child(3) {
    -webkit-transform: rotate(-45deg);
    -moz-transform: rotate(-45deg);
    -o-transform: rotate(-45deg);
    transform: rotate(-45deg);
    top: 22px;
    left: 4px
}

.viewing-page-2 .open-close-nav, .viewing-page-4 .open-close-nav, .viewing-page-5 .open-close-nav, .viewing-page-9 .open-close-nav, .viewing-page-10 .open-close-nav {
    width: 29px;
    height: 45px;
    position: relative;
    margin: 0 auto;
    -webkit-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    transform: rotate(0deg);
    -webkit-transition: all 0.4s ease-out;
    -moz-transition: all 0.4s ease-out;
    -ms-transition: all 0.4s ease-out;
    -o-transition: all 0.4s ease-out;
    transition: all 0.4s ease-out;
    cursor: pointer
}

.viewing-page-2 .open-close-nav:hover span, .viewing-page-4 .open-close-nav:hover span, .viewing-page-5 .open-close-nav:hover span, .viewing-page-9 .open-close-nav:hover span, .viewing-page-10 .open-close-nav:hover span {
    border: 1px solid #000
}

.viewing-page-2 .open-close-nav span, .viewing-page-4 .open-close-nav span, .viewing-page-5 .open-close-nav span, .viewing-page-9 .open-close-nav span, .viewing-page-10 .open-close-nav span {
    display: block;
    position: absolute;
    height: 3px;
    width: 100%;
    border: 1px solid rgba(0, 0, 0, 0.5);
    opacity: 1;
    left: 0;
    -webkit-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    transform: rotate(0deg);
    -webkit-transition: .25s ease-in-out;
    -moz-transition: .25s ease-in-out;
    -o-transition: .25s ease-in-out;
    transition: .25s ease-in-out
}

.viewing-page-2 .open-close-nav span:nth-child(1), .viewing-page-4 .open-close-nav span:nth-child(1), .viewing-page-5 .open-close-nav span:nth-child(1), .viewing-page-9 .open-close-nav span:nth-child(1), .viewing-page-10 .open-close-nav span:nth-child(1) {
    top: 0px;
    -webkit-transform-origin: left center;
    -moz-transform-origin: left center;
    -o-transform-origin: left center;
    transform-origin: left center
}

.viewing-page-2 .open-close-nav span:nth-child(2), .viewing-page-4 .open-close-nav span:nth-child(2), .viewing-page-5 .open-close-nav span:nth-child(2), .viewing-page-9 .open-close-nav span:nth-child(2), .viewing-page-10 .open-close-nav span:nth-child(2) {
    top: 9px;
    -webkit-transform-origin: left center;
    -moz-transform-origin: left center;
    -o-transform-origin: left center;
    transform-origin: left center
}

.viewing-page-2 .open-close-nav span:nth-child(3), .viewing-page-4 .open-close-nav span:nth-child(3), .viewing-page-5 .open-close-nav span:nth-child(3), .viewing-page-9 .open-close-nav span:nth-child(3), .viewing-page-10 .open-close-nav span:nth-child(3) {
    top: 18px;
    -webkit-transform-origin: left center;
    -moz-transform-origin: left center;
    -o-transform-origin: left center;
    transform-origin: left center
}

.viewing-page-2 .open-close-nav.open span:nth-child(1), .viewing-page-4 .open-close-nav.open span:nth-child(1), .viewing-page-5 .open-close-nav.open span:nth-child(1), .viewing-page-9 .open-close-nav.open span:nth-child(1), .viewing-page-10 .open-close-nav.open span:nth-child(1) {
    -webkit-transform: rotate(45deg);
    -moz-transform: rotate(45deg);
    -o-transform: rotate(45deg);
    transform: rotate(45deg);
    top: 0px;
    left: 4px
}

.viewing-page-2 .open-close-nav.open span:nth-child(2), .viewing-page-4 .open-close-nav.open span:nth-child(2), .viewing-page-5 .open-close-nav.open span:nth-child(2), .viewing-page-9 .open-close-nav.open span:nth-child(2), .viewing-page-10 .open-close-nav.open span:nth-child(2) {
    width: 0%;
    opacity: 0
}

.viewing-page-2 .open-close-nav.open span:nth-child(3), .viewing-page-4 .open-close-nav.open span:nth-child(3), .viewing-page-5 .open-close-nav.open span:nth-child(3), .viewing-page-9 .open-close-nav.open span:nth-child(3), .viewing-page-10 .open-close-nav.open span:nth-child(3) {
    -webkit-transform: rotate(-45deg);
    -moz-transform: rotate(-45deg);
    -o-transform: rotate(-45deg);
    transform: rotate(-45deg);
    top: 22px;
    left: 4px
}

.go-to-second {
    position: absolute;
    bottom: 30px;
    left: 0;
    right: 0;
    width: 6px;
    height: 11px;
    margin: 0 auto;
    -moz-transform: rotate(270deg);
    -webkit-transform: rotate(270deg);
    -o-transform: rotate(270deg);
    -ms-transform: rotate(270deg);
    transform: rotate(270deg);
    z-index: 20
}

.dots1 {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    width: 100%;
    height: 100%;
    background: url(../img/dots1.png) center no-repeat;
    background-size: contain;
    z-index: 5
}

.dots2 {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    width: 100%;
    height: 100%;
    background: url(../img/dots2.png) center no-repeat;
    background-size: contain;
    z-index: 5
}

.lang {
    position: absolute;
    top: 37px;
    right: 50px;
    z-index: 20
}

.lang li {
    display: inline-block;
    margin-left: 15px
}

.lang li.active a {
    color: #fff
}

.lang a {
    color: rgba(255, 255, 255, 0.5);
    font-size: 10px;
    font-family: 'GothamPro-Medium';
    text-transform: uppercase;
    text-decoration: none;
    -webkit-transition: all 0.1s ease-in;
    -moz-transition: all 0.1s ease-in;
    -ms-transition: all 0.1s ease-in;
    -o-transition: all 0.1s ease-in;
    transition: all 0.1s ease-in
}

.lang a:hover {
    color: #fff
}

.light-left {
    position: absolute;
    bottom: 0;
    left: 8%;
    width: 67%;
    height: 80%;
    background-size: 60%;
    background: url(../img/light-left.png) center no-repeat;
    z-index: 8
}

.light-right {
    position: absolute;
    top: -4%;
    right: 0;
    width: 45%;
    height: 95%;
    background: url(../img/light-right.png) center no-repeat;
    z-index: 8
}

.zattoch-info {
    position: absolute;
    top: 29%;
    left: 23%;
    width: 280px;
    z-index: 20
}

.zattoch-info .text {
    margin: 19px 0;
    color: rgba(255, 255, 255, 0.9);
    font-size: 22px;
    font-family: 'GothamPro-Light';
    text-indent: 28px;
    line-height: 1.2
}

.zattoch-info a {
    display: inline-block;
    position: relative;
    width: 115px;
    height: 24px;
    line-height: 24px;
    padding: 0 10px;
    color: rgba(255, 255, 255, 0.5);
    border: 1px solid rgba(255, 255, 255, 0.5);
    font-size: 10px;
    font-family: 'GothamPro-Light';
    text-decoration: none;
    -webkit-transition: all 0.2s ease-in;
    -moz-transition: all 0.2s ease-in;
    -ms-transition: all 0.2s ease-in;
    -o-transition: all 0.2s ease-in;
    transition: all 0.2s ease-in
}

.zattoch-info a:hover {
    border: 1px solid #fff
}

.zattoch-info a:hover span {
    left: 10px;
    color: #fff;
    -webkit-transition: all 0.2s ease-in;
    -moz-transition: all 0.2s ease-in;
    -ms-transition: all 0.2s ease-in;
    -o-transition: all 0.2s ease-in;
    transition: all 0.2s ease-in
}

.zattoch-info a:hover::before {
    right: 10px;
    width: 35px;
    border-top: 1px solid #fff;
    -webkit-transition: all 0.2s ease-in;
    -moz-transition: all 0.2s ease-in;
    -ms-transition: all 0.2s ease-in;
    -o-transition: all 0.2s ease-in;
    transition: all 0.2s ease-in
}

.zattoch-info a::before {
    content: '';
    position: absolute;
    top: 11px;
    right: 0px;
    width: 0px;
    border-top: 1px solid rgba(255, 255, 255, 0.5);
    -webkit-transition: all 0.2s ease-in;
    -moz-transition: all 0.2s ease-in;
    -ms-transition: all 0.2s ease-in;
    -o-transition: all 0.2s ease-in;
    transition: all 0.2s ease-in
}

.zattoch-info a span {
    position: absolute;
    left: 37px;
    -webkit-transition: all 0.2s ease-in;
    -moz-transition: all 0.2s ease-in;
    -ms-transition: all 0.2s ease-in;
    -o-transition: all 0.2s ease-in;
    transition: all 0.2s ease-in
}

.full-page-menu {
    display: none;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    width: 100%;
    height: 100%;
    background: #fff
}

.full-page-menu.open {
    display: block;
    z-index: 99
}

.full-page-menu .container {
    position: relative;
    left: 40px;
    width: 1060px;
    margin: 0 auto;
    padding: 50px 0
}

.menu {
    float: left;
    width: 23%;
    box-sizing: border-box
}

.menu .title {
    margin-bottom: 25px;
    color: rgba(0, 0, 0, 0.2);
    font-size: 63px;
    font-family: "GothamPro-Light"
}

.menu a {
    position: relative;
    color: #171717;
    background: #fff;
    font-size: 15px;
    font-family: "GothamPro";
    line-height: 2;
    text-decoration: none;
    -webkit-transition: all 0.2s ease-out;
    -moz-transition: all 0.2s ease-out;
    -ms-transition: all 0.2s ease-out;
    -o-transition: all 0.2s ease-out;
    transition: all 0.2s ease-out
}

.menu a:before {
    content: '';
    position: absolute;
    top: 6px;
    left: 0;
    width: 0;
    border-top: 1px solid #000;
    opacity: 0;
    -webkit-transition: all 0.2s ease-out;
    -moz-transition: all 0.2s ease-out;
    -ms-transition: all 0.2s ease-out;
    -o-transition: all 0.2s ease-out;
    transition: all 0.2s ease-out
}

.menu a.red-link {
    color: #ff0000 !important
}

.menu a.red-link:hover:before {
    content: '';
    position: absolute;
    top: 6px;
    left: 0;
    width: 15px;
    border-top: 1px solid #ff0000;
    opacity: 1;
    -webkit-transition: all 0.2s ease-out;
    -moz-transition: all 0.2s ease-out;
    -ms-transition: all 0.2s ease-out;
    -o-transition: all 0.2s ease-out;
    transition: all 0.2s ease-out
}

.menu a:hover {
    padding-left: 20px !important
}

.menu a:hover:before {
    content: '';
    position: absolute;
    top: 6px;
    left: 0;
    width: 15px !important;
    border-top: 1px solid #000;
    opacity: 1 !important
}

.menu li.current a {
    padding-left: 20px
}

.menu li.current a:before {
    content: '';
    position: absolute;
    top: 6px;
    left: 0;
    width: 15px;
    border-top: 1px solid #000;
    opacity: 1
}

.menu li.current a.red-link:before {
    content: '';
    position: absolute;
    top: 6px;
    left: 0;
    width: 15px;
    border-top: 1px solid #ff0000;
    opacity: 1
}

.menu .onepage-pagination {
    position: static
}

.contacts {
    float: left;
    width: 37.5%;
    box-sizing: border-box
}

.contacts .title {
    margin-bottom: 25px;
    color: rgba(0, 0, 0, 0.2);
    font-size: 63px;
    font-family: "GothamPro-Light"
}

.contacts .contact-wrap {
    min-height: 330px;
    padding: 0 30px;
    border-left: 1px solid #ccc;
    box-sizing: border-box
}

.contacts .contact-wrap p {
    color: #171717;
    font-family: "GothamPro-Light";
    font-size: 15px
}

.contacts .contact-wrap p.phone-numbers {
    padding-left: 34px;
    font-size: 15px;
    background: url(../img/icon-phone.png) 2px 16px no-repeat;
    line-height: 2
}

.contacts .contact-wrap p.or {
    margin: 10px auto;
    padding-left: 90px;
    font-size: 12px;
    opacity: 0.5
}

.contacts .contact-wrap p.address {
    margin: 30px 0 5px;
    padding-left: 35px;
    background: url(../img/icon-map.png) 5px 9px no-repeat
}

.contacts .contact-wrap a {
    display: inline-block;
    margin-top: 5px;
    color: #171717;
    font-size: 15px;
    font-family: "GothamPro-Light";
    text-transform: uppercase;
    text-decoration: underline
}

.contacts .contact-wrap a.mail {
    margin: 30px 0;
    padding: 5px 0 5px 35px;
    background: url(../img/icon-mail.png) 3px 4px no-repeat;
    text-transform: none;
    text-decoration: none
}

.contacts .contact-wrap button {
    margin: 5px 0 0 35px;
    padding: 6px 30px;
    color: #000;
    background: none;
    border: 1px solid #000;
    font-size: 10px;
    font-family: "GothamPro-Light";
    text-transform: uppercase;
    text-align: center
}

.buy {
    float: left;
    width: 39.5%;
    box-sizing: border-box
}

.buy .title {
    margin-bottom: 25px;
    color: rgba(0, 0, 0, 0.2);
    font-size: 63px;
    font-family: "GothamPro-Light"
}

.buy .items-wrap {
    min-height: 330px;
    padding-left: 30px;
    border-left: 1px solid #ccc;
    box-sizing: border-box
}

.buy .item:first-child {
    margin-bottom: 30px
}

.buy .item.woman .item-title span {
    color: #f518b1
}

.buy .item .img {
    float: left
}

.buy .item .info {
    float: left;
    padding-left: 20px
}

.buy .item .item-title span {
    color: #000
}

.buy .item .item-title span:nth-child(1) {
    font-size: 20px;
    font-family: "GothamPro-Medium"
}

.buy .item .item-title span:nth-child(2) {
    font-size: 15px;
    font-family: "GothamPro-Light"
}

.buy .item .item-title span:nth-child(3) {
    font-size: 20px;
    font-family: "GothamPro-Light"
}

.buy .item .item-info {
    margin: 5px 0;
    color: rgba(28, 28, 28, 0.9);
    font-size: 14px;
    font-family: "GothamPro-Light"
}

.buy .item .old-price {
    margin-top: 10px;
    color: #1c1c1c;
    font-size: 12px;
    font-family: "GothamPro";
    text-decoration: line-through
}

.buy .item .price {
    margin: 12px 0;
    color: #23d700;
    font-size: 27px;
    font-family: "GothamPro-Medium"
}

.buy .item .count input {
    width: 35px;
    padding: 4px 0;
    color: #000;
    background: none;
    border: 1px solid rgba(0, 0, 0, 0.5);
    font-size: 12px;
    font-family: "GothamPro-Light";
    text-align: center
}

.buy .item .count span {
    color: #000;
    font-size: 10px;
    font-family: "GothamPro-Light"
}

.buy .item .count button {
    margin: 0 0 0 20px;
    padding: 5px 45px;
    color: #000;
    background: none;
    border: 1px solid #000;
    font-size: 10px;
    font-family: "GothamPro-Light";
    text-transform: uppercase;
    text-align: center
}

.viewing-page-1 .menu li:nth-of-type(1) a {
    padding-left: 20px
}

.viewing-page-1 .menu li:nth-of-type(1) a:before {
    content: '';
    position: absolute;
    top: 6px;
    left: 0;
    width: 15px;
    border-top: 1px solid #000;
    opacity: 1
}

.viewing-page-1 .menu li a {
    padding-left: 0;
    color: #171717
}

.viewing-page-1 .menu li a:before {
    content: '';
    position: absolute;
    top: 6px;
    left: 0;
    width: 0;
    border-top: 1px solid #000;
    opacity: 0
}

.viewing-page-2 .menu li:nth-of-type(2) a {
    padding-left: 20px
}

.viewing-page-2 .menu li:nth-of-type(2) a:before {
    content: '';
    position: absolute;
    top: 6px;
    left: 0;
    width: 15px;
    border-top: 1px solid #000;
    opacity: 1
}

.viewing-page-2 .menu li a {
    padding-left: 0;
    color: #171717
}

.viewing-page-2 .menu li a:before {
    content: '';
    position: absolute;
    top: 6px;
    left: 0;
    width: 0;
    border-top: 1px solid #000;
    opacity: 0
}

.viewing-page-3 .menu li:nth-of-type(3) a {
    padding-left: 20px
}

.viewing-page-3 .menu li:nth-of-type(3) a:before {
    content: '';
    position: absolute;
    top: 6px;
    left: 0;
    width: 15px;
    border-top: 1px solid #000;
    opacity: 1
}

.viewing-page-3 .menu li a {
    padding-left: 0;
    color: #171717
}

.viewing-page-3 .menu li a:before {
    content: '';
    position: absolute;
    top: 6px;
    left: 0;
    width: 0;
    border-top: 1px solid #000;
    opacity: 0
}

.viewing-page-4 .menu li:nth-of-type(4) a {
    padding-left: 20px
}

.viewing-page-4 .menu li:nth-of-type(4) a:before {
    content: '';
    position: absolute;
    top: 6px;
    left: 0;
    width: 15px;
    border-top: 1px solid #000;
    opacity: 1
}

.viewing-page-4 .menu li a {
    padding-left: 0;
    color: #171717
}

.viewing-page-4 .menu li a:before {
    content: '';
    position: absolute;
    top: 6px;
    left: 0;
    width: 0;
    border-top: 1px solid #000;
    opacity: 0
}

.viewing-page-5 .menu li:nth-of-type(5) a {
    padding-left: 20px
}

.viewing-page-5 .menu li:nth-of-type(5) a:before {
    content: '';
    position: absolute;
    top: 6px;
    left: 0;
    width: 15px;
    border-top: 1px solid #000;
    opacity: 1
}

.viewing-page-5 .menu li a {
    padding-left: 0;
    color: #171717
}

.viewing-page-5 .menu li a:before {
    content: '';
    position: absolute;
    top: 6px;
    left: 0;
    width: 0;
    border-top: 1px solid #000;
    opacity: 0
}

.viewing-page-6 .menu li:nth-of-type(6) a {
    padding-left: 20px
}

.viewing-page-6 .menu li:nth-of-type(6) a:before {
    content: '';
    position: absolute;
    top: 6px;
    left: 0;
    width: 15px;
    border-top: 1px solid #000;
    opacity: 1
}

.viewing-page-6 .menu li a {
    padding-left: 0;
    color: #171717
}

.viewing-page-6 .menu li a:before {
    content: '';
    position: absolute;
    top: 6px;
    left: 0;
    width: 0;
    border-top: 1px solid #000;
    opacity: 0
}

.viewing-page-7 .menu li:nth-of-type(7) a {
    padding-left: 20px
}

.viewing-page-7 .menu li:nth-of-type(7) a:before {
    content: '';
    position: absolute;
    top: 6px;
    left: 0;
    width: 15px;
    border-top: 1px solid #ff0000;
    opacity: 1
}

.viewing-page-7 .menu li a {
    padding-left: 0;
    color: #171717
}

.viewing-page-7 .menu li a:before {
    content: '';
    position: absolute;
    top: 6px;
    left: 0;
    width: 0;
    border-top: 1px solid #000;
    opacity: 0
}

.viewing-page-8 .menu li:nth-of-type(8) a {
    padding-left: 20px
}

.viewing-page-8 .menu li:nth-of-type(8) a:before {
    content: '';
    position: absolute;
    top: 6px;
    left: 0;
    width: 15px;
    border-top: 1px solid #000;
    opacity: 1
}

.viewing-page-8 .menu li a {
    padding-left: 0;
    color: #171717
}

.viewing-page-8 .menu li a:before {
    content: '';
    position: absolute;
    top: 6px;
    left: 0;
    width: 0;
    border-top: 1px solid #000;
    opacity: 0
}

.viewing-page-9 .menu li:nth-of-type(9) a {
    padding-left: 20px
}

.viewing-page-9 .menu li:nth-of-type(9) a:before {
    content: '';
    position: absolute;
    top: 6px;
    left: 0;
    width: 15px;
    border-top: 1px solid #000;
    opacity: 1
}

.viewing-page-9 .menu li a {
    padding-left: 0;
    color: #171717
}

.viewing-page-9 .menu li a:before {
    content: '';
    position: absolute;
    top: 6px;
    left: 0;
    width: 0;
    border-top: 1px solid #000;
    opacity: 0
}

.viewing-page-10 .menu li:nth-of-type(10) a {
    padding-left: 20px
}

.viewing-page-10 .menu li:nth-of-type(10) a:before {
    content: '';
    position: absolute;
    top: 6px;
    left: 0;
    width: 15px;
    border-top: 1px solid #000;
    opacity: 1
}

.viewing-page-10 .menu li a {
    padding-left: 0;
    color: #171717
}

.viewing-page-10 .menu li a:before {
    content: '';
    position: absolute;
    top: 6px;
    left: 0;
    width: 0;
    border-top: 1px solid #000;
    opacity: 0
}

@media (min-width: 1920px) {
    .blocks section .container {
        width: 1390px
    }

    .blocks section:nth-of-type(3) .container {
        width: 1390px
    }

    .blocks section:nth-of-type(3) .what-is {
        margin-top: 14%
    }

    .blocks section:nth-of-type(3) .btm-text {
        width: 89%;
        margin-left: 80px
    }

    .light-right {
        background-position: right
    }

    .blur-out-wrap {
        margin: 0 auto
    }
}

@media (min-width: 1680px) and (max-width: 1919px) {
    .blocks section .container {
        width: 1390px
    }

    .blocks section:nth-of-type(3) .container {
        width: 1390px
    }

    .blocks section:nth-of-type(3) .what-is {
        margin-top: 13%
    }

    .blocks section:nth-of-type(3) .btm-text {
        width: 89%;
        margin-left: 80px
    }

    .light-right {
        background-position: right
    }

    .blur-out-wrap {
        margin: 0 auto
    }
}

@media (min-width: 1200px) {
    .hidden-lg {
        display: none
    }

    .blocks section:nth-of-type(3) .btm-text {
        width: 89%
    }

    .light-right {
        background-position: right
    }
}

@media (min-width: 1200px) and (max-width: 1299px) {
    .blocks section .container {
        width: 920px
    }

    .blocks section:nth-of-type(3) .layers-wrap img {
        width: 100%
    }

    .blocks section:nth-of-type(3) .what-is .row {
        margin-bottom: 20px
    }

    .blocks section:nth-of-type(3) .what-is span.line {
        width: 100px
    }

    .blocks section:nth-of-type(4) .img-wrap {
        width: 190px
    }

    .blocks section:nth-of-type(7) {
        padding: 30px 0
    }

    .blocks section:nth-of-type(7) .row:nth-child(1) {
        margin-bottom: 30px
    }

    .blocks section:nth-of-type(7) .rounded-bg {
        display: none
    }

    .blocks section:nth-of-type(7) .left {
        width: 50%
    }

    .blocks section:nth-of-type(7) .left.invert .img-wrap {
        left: 40px;
        top: auto;
        bottom: 10px
    }

    .blocks section:nth-of-type(7) .right {
        width: 50%
    }

    .blocks section:nth-of-type(7) p.bigger {
        margin-bottom: 0;
        font-size: 25px;
        line-height: 1.5
    }

    .blocks section .map img {
        max-width: 500px
    }
}

@media (min-width: 980px) and (max-width: 1199px) {
    .hidden-md {
        display: none
    }

    .container {
        width: 780px !important
    }

    body {
        overflow: hidden
    }

    .page-nav {
        position: fixed !important;
        float: none !important;
        display: block !important;
        top: 0;
        left: 0;
        padding: 25px;
        z-index: 125
    }

    .page-nav.open {
        background: #fff !important
    }

    .page-nav .open-close-nav {
        position: relative;
        height: 23px;
        z-index: 10
    }

    .page-nav .open-close-nav span {
        border-color: rgba(255, 255, 255, 0.5)
    }

    .page-nav .open-close-nav.open span {
        border-color: #000
    }

    .onepage-pagination {
        display: none
    }

    .zattoch-info {
        top: 20%;
        left: 0;
        right: 0;
        margin: 0 auto;
        text-align: center
    }

    .zattoch-info a {
        margin: 30px auto
    }

    .zattoch-info .text {
        margin: 50px 0 150px
    }

    .blocks .section {
        height: auto
    }

    .blocks .section:nth-of-type(1) {
        height: 100% !important
    }

    .blocks .section:nth-of-type(2) .title {
        margin: 30px 0;
        line-height: 1.5;
        font-size: 30px
    }

    .blocks .section:nth-of-type(2) .right {
        display: none
    }

    .blocks .section:nth-of-type(2) .left {
        width: 100%
    }

    .blocks .section:nth-of-type(3) {
        background: url(../img/section3-320-bg.png) center no-repeat;
        background-size: cover
    }

    .blocks .section:nth-of-type(3) .title {
        color: #fff
    }

    .blocks .section:nth-of-type(3) .left {
        display: none
    }

    .blocks .section:nth-of-type(3) .right {
        width: 100%
    }

    .blocks .section:nth-of-type(3) .what-is {
        margin: 0
    }

    .blocks .section:nth-of-type(3) .what-is .row {
        width: 100%;
        display: inline-block;
        text-align: center
    }

    .blocks .section:nth-of-type(3) .what-is span:nth-child(1) {
        padding: 0
    }

    .blocks .section:nth-of-type(3) .what-is .line {
        display: none
    }

    .blocks .section:nth-of-type(3) .what-is .icon {
        margin-right: 10px
    }

    .blocks .section:nth-of-type(3) .what-is .text {
        width: 330px;
        text-align: left
    }

    .blocks .section:nth-of-type(3) .btm-text {
        margin: 50px 0 0 0
    }

    .blocks .section:nth-of-type(3) .btm-text p {
        margin-bottom: 20px;
        color: #fff;
        line-height: 1.3
    }

    .blocks .section:nth-of-type(4) .razor-wrap {
        margin: 50px auto
    }

    .blocks .section:nth-of-type(4) .razor-wrap img {
        width: 100%;
        max-width: 400px
    }

    .blocks .section:nth-of-type(4) .left {
        width: 100%;
        padding: 0
    }

    .blocks .section:nth-of-type(4) .right {
        width: 100%;
        padding: 0;
        text-align: center
    }

    .blocks .section:nth-of-type(6) .text-block {
        position: relative;
        float: left;
        width: 50%;
        top: 25px
    }

    .blocks .section:nth-of-type(6) .text-block span {
        font-size: 34px
    }

    .blocks .section:nth-of-type(6) .text-block span:nth-of-type(2) {
        font-size: 55px
    }

    .blocks .section:nth-of-type(6) .rotate-wrap {
        position: relative;
        float: left;
        width: 50%;
        top: auto;
        right: auto
    }

    .blocks .section:nth-of-type(6) .rotate-wrap .img {
        display: none
    }

    .blocks .section:nth-of-type(6) .rotate-wrap .text1, .blocks .section:nth-of-type(6) .rotate-wrap .text2, .blocks .section:nth-of-type(6) .rotate-wrap .text3 {
        position: static;
        float: left;
        width: 100%
    }

    .blocks .section:nth-of-type(6) .rotate-wrap .text1 .icon, .blocks .section:nth-of-type(6) .rotate-wrap .text2 .icon, .blocks .section:nth-of-type(6) .rotate-wrap .text3 .icon {
        float: left;
        width: 80px;
        margin-right: 0;
        text-align: center
    }

    .blocks .section:nth-of-type(7) {
        padding: 30px 0
    }

    .blocks .section:nth-of-type(7) .row:nth-child(1) {
        margin-bottom: 30px
    }

    .blocks .section:nth-of-type(7) .rounded-bg {
        display: none
    }

    .blocks .section:nth-of-type(7) .left {
        width: 50%
    }

    .blocks .section:nth-of-type(7) .left.invert .img-wrap {
        left: 40px;
        top: auto;
        bottom: 10px
    }

    .blocks .section:nth-of-type(7) .right {
        width: 50%
    }

    .blocks .section:nth-of-type(7) p.bigger {
        margin-bottom: 0;
        font-size: 25px;
        line-height: 1.5
    }

    .blocks .section:nth-of-type(9) {
        padding: 30px 0
    }

    .blocks .section:nth-of-type(9) .title {
        text-align: center
    }

    .blocks .section:nth-of-type(9) .map {
        width: 55%;
        padding: 0 15px
    }

    .blocks .section:nth-of-type(9) .map img {
        width: 100%;
        max-width: 370px;
        height: auto;
        margin: 0 auto
    }

    .blocks .section:nth-of-type(9) .reviews {
        width: 45%
    }

    .blocks .section:nth-of-type(9) .reviews .review {
        max-width: 450px;
        margin: 0 auto 20px
    }

    .blocks .section:nth-of-type(10) {
        padding: 50px 0 30px
    }

    .blocks .section:nth-of-type(10) .sub-title {
        margin-bottom: 50px
    }

    .blocks .section:nth-of-type(10) .blur-out-wrap {
        width: 290px;
        height: 155px;
        margin: 0 auto
    }

    .blocks .section:nth-of-type(10) .blur-out-wrap .blur-out-here {
        top: 20px;
        left: 20px;
        right: 30px;
        height: 57px;
        line-height: 57px;
        font-size: 22px
    }

    .blocks .section:nth-of-type(10) .some-text {
        margin: 30px auto
    }

    .full-page-menu {
        position: fixed
    }

    .menu {
        float: none;
        width: 100%;
        max-width: 240px;
        margin: 0 auto;
        text-align: center
    }

    .menu .title {
        text-align: center
    }

    .menu a {
        padding-left: 0 !important;
        font-size: 18px
    }

    .menu a:before {
        width: 0 !important;
        opacity: 0 !important
    }
}

@media (min-width: 768px) and (max-width: 979px) {
    .hidden-sm {
        display: none
    }

    body {
        overflow: hidden
    }

    .container {
        width: 100% !important;
        padding: 0 15px !important;
        box-sizing: border-box !important
    }

    .page-nav {
        position: fixed !important;
        float: none !important;
        display: block !important;
        top: 0;
        left: 0;
        padding: 15px;
        z-index: 125
    }

    .page-nav.open {
        background: #fff !important
    }

    .page-nav .open-close-nav {
        position: relative;
        height: 23px;
        z-index: 10
    }

    .page-nav .open-close-nav span {
        border-color: rgba(255, 255, 255, 0.5)
    }

    .page-nav .open-close-nav.open span {
        border-color: #000
    }

    .onepage-pagination {
        display: none
    }

    .zattoch-info {
        top: 20%;
        left: 0;
        right: 0;
        margin: 0 auto;
        text-align: center
    }

    .zattoch-info a {
        margin: 30px auto
    }

    .blocks .section {
        height: auto
    }

    .blocks .section:nth-of-type(1) {
        height: 100% !important
    }

    .blocks .section:nth-of-type(1) .light-left, .blocks .section:nth-of-type(1) .light-right, .blocks .section:nth-of-type(1) .lang {
        display: none
    }

    .blocks .section:nth-of-type(2) .title {
        margin: 30px 0;
        line-height: 1.5;
        font-size: 30px
    }

    .blocks .section:nth-of-type(2) .right {
        display: none
    }

    .blocks .section:nth-of-type(2) .left {
        width: 100%
    }

    .blocks .section:nth-of-type(3) {
        padding: 25px 0;
        background: url(../img/section3-320-bg.png) center no-repeat;
        background-size: cover
    }

    .blocks .section:nth-of-type(3) .title {
        color: #fff
    }

    .blocks .section:nth-of-type(3) .left {
        display: none
    }

    .blocks .section:nth-of-type(3) .right {
        width: 100%
    }

    .blocks .section:nth-of-type(3) .what-is {
        margin: 0
    }

    .blocks .section:nth-of-type(3) .what-is .row {
        width: 100%;
        display: inline-block;
        text-align: center
    }

    .blocks .section:nth-of-type(3) .what-is span:nth-child(1) {
        padding: 0
    }

    .blocks .section:nth-of-type(3) .what-is .line {
        display: none
    }

    .blocks .section:nth-of-type(3) .what-is .icon {
        margin-right: 10px
    }

    .blocks .section:nth-of-type(3) .what-is .text {
        width: 330px;
        text-align: left
    }

    .blocks .section:nth-of-type(3) .btm-text {
        margin: 50px 0 0 0
    }

    .blocks .section:nth-of-type(3) .btm-text p {
        margin-bottom: 20px;
        color: #fff;
        line-height: 1.3
    }

    .blocks .section:nth-of-type(4) {
        padding: 30px 0
    }

    .blocks .section:nth-of-type(4) .razor-wrap {
        margin: 50px auto
    }

    .blocks .section:nth-of-type(4) .razor-wrap img {
        width: 100%;
        max-width: 400px
    }

    .blocks .section:nth-of-type(4) .left {
        width: 100%;
        padding: 0
    }

    .blocks .section:nth-of-type(4) .right {
        width: 100%;
        padding: 0;
        text-align: center
    }

    .blocks .section:nth-of-type(5) {
        padding: 30px 0
    }

    .blocks .section:nth-of-type(6) {
        padding: 30px 0
    }

    .blocks .section:nth-of-type(6) .text-block {
        position: relative;
        float: left;
        width: 50%;
        top: 0;
        margin-top: 30px;
        padding-left: 7%;
        box-sizing: border-box
    }

    .blocks .section:nth-of-type(6) .text-block span {
        font-size: 29px
    }

    .blocks .section:nth-of-type(6) .text-block span:nth-of-type(2) {
        font-size: 48px
    }

    .blocks .section:nth-of-type(6) .rotate-wrap {
        position: relative;
        float: left;
        width: 50%;
        top: auto;
        right: auto
    }

    .blocks .section:nth-of-type(6) .rotate-wrap .img {
        display: none
    }

    .blocks .section:nth-of-type(6) .rotate-wrap .text1, .blocks .section:nth-of-type(6) .rotate-wrap .text2, .blocks .section:nth-of-type(6) .rotate-wrap .text3 {
        position: static;
        float: left;
        width: 100%
    }

    .blocks .section:nth-of-type(6) .rotate-wrap .text1 .icon, .blocks .section:nth-of-type(6) .rotate-wrap .text2 .icon, .blocks .section:nth-of-type(6) .rotate-wrap .text3 .icon {
        float: left;
        width: 50px;
        margin-right: 15px;
        text-align: center
    }

    .blocks .section:nth-of-type(7) {
        padding: 30px 0
    }

    .blocks .section:nth-of-type(7) .row:nth-child(1) {
        margin-bottom: 30px
    }

    .blocks .section:nth-of-type(7) .rounded-bg {
        display: none
    }

    .blocks .section:nth-of-type(7) .left {
        width: 50%
    }

    .blocks .section:nth-of-type(7) .left.invert .img-wrap {
        left: 40px;
        top: auto;
        bottom: 10px
    }

    .blocks .section:nth-of-type(7) .right {
        width: 50%
    }

    .blocks .section:nth-of-type(7) p.bigger {
        margin-bottom: 0;
        font-size: 25px;
        line-height: 1.5
    }

    .blocks .section:nth-of-type(9) {
        padding: 30px 0
    }

    .blocks .section:nth-of-type(9) .title {
        text-align: center
    }

    .blocks .section:nth-of-type(9) .map {
        width: 50%;
        padding: 0 15px;
        text-align: center
    }

    .blocks .section:nth-of-type(9) .map img {
        width: 100%;
        max-width: 470px;
        height: auto;
        margin: 0 auto
    }

    .blocks .section:nth-of-type(9) .reviews {
        width: 50%
    }

    .blocks .section:nth-of-type(9) .reviews .review {
        max-width: 450px;
        margin: 0 auto 20px
    }

    .blocks .section:nth-of-type(10) {
        padding: 50px 0 30px
    }

    .blocks .section:nth-of-type(10) .sub-title {
        margin-bottom: 50px
    }

    .blocks .section:nth-of-type(10) .blur-out-wrap {
        width: 290px;
        height: 155px;
        margin: 0 auto
    }

    .blocks .section:nth-of-type(10) .blur-out-wrap .blur-out-here {
        top: 20px;
        left: 20px;
        right: 30px;
        height: 57px;
        line-height: 57px;
        font-size: 22px
    }

    .blocks .section:nth-of-type(10) .some-text {
        margin: 30px auto
    }

    .full-page-menu {
        position: fixed
    }

    .menu {
        float: none;
        width: 100%;
        max-width: 240px;
        margin: 0 auto;
        text-align: center
    }

    .menu .title {
        text-align: center
    }

    .menu a {
        padding-left: 0 !important;
        font-size: 18px
    }

    .menu a:before {
        width: 0 !important;
        opacity: 0 !important
    }
}

@media (min-width: 480px) and (max-width: 767px) {
    .hidden-xs {
        display: none
    }

    body {
        overflow: hidden
    }

    .container {
        width: 100% !important;
        padding: 0 15px !important;
        box-sizing: border-box !important
    }

    .page-nav {
        position: fixed !important;
        float: none !important;
        display: block !important;
        top: 0;
        left: 0;
        padding: 15px;
        z-index: 125
    }

    .page-nav.open {
        background: #fff !important
    }

    .page-nav .open-close-nav {
        position: relative;
        height: 23px;
        z-index: 10
    }

    .page-nav .open-close-nav span {
        border-color: rgba(255, 255, 255, 0.5)
    }

    .page-nav .open-close-nav.open span {
        border-color: #000
    }

    .onepage-pagination {
        display: none
    }

    .zattoch-info {
        top: 20%;
        left: 0;
        right: 0;
        margin: 0 auto;
        text-align: center
    }

    .zattoch-info a {
        margin: 30px auto
    }

    .blocks .section {
        height: auto
    }

    .blocks .section:nth-of-type(1) {
        height: 100% !important
    }

    .blocks .section:nth-of-type(1) .light-left, .blocks .section:nth-of-type(1) .light-right, .blocks .section:nth-of-type(1) .lang {
        display: none
    }

    .blocks .section:nth-of-type(2) .title {
        margin: 30px 0;
        line-height: 1.5;
        font-size: 30px
    }

    .blocks .section:nth-of-type(2) .right {
        display: none
    }

    .blocks .section:nth-of-type(2) .left {
        width: 100%
    }

    .blocks .section:nth-of-type(3) {
        padding: 25px 0;
        background: url(../img/section3-320-bg.png) center no-repeat;
        background-size: cover
    }

    .blocks .section:nth-of-type(3) .title {
        color: #fff
    }

    .blocks .section:nth-of-type(3) .left {
        display: none
    }

    .blocks .section:nth-of-type(3) .right {
        width: 100%
    }

    .blocks .section:nth-of-type(3) .what-is {
        margin: 0
    }

    .blocks .section:nth-of-type(3) .what-is span:nth-child(1) {
        padding: 0
    }

    .blocks .section:nth-of-type(3) .what-is .line {
        display: none
    }

    .blocks .section:nth-of-type(3) .what-is .icon {
        margin-right: 10px
    }

    .blocks .section:nth-of-type(3) .what-is .text {
        width: 70%
    }

    .blocks .section:nth-of-type(3) .btm-text {
        margin: 50px 0 0 0
    }

    .blocks .section:nth-of-type(3) .btm-text p {
        margin-bottom: 20px;
        color: #fff;
        line-height: 1.3
    }

    .blocks .section:nth-of-type(4) {
        padding: 30px 0
    }

    .blocks .section:nth-of-type(4) .razor-wrap {
        margin: 50px auto
    }

    .blocks .section:nth-of-type(4) .razor-wrap img {
        width: 100%;
        max-width: 400px
    }

    .blocks .section:nth-of-type(4) .left {
        width: 100%;
        padding: 0
    }

    .blocks .section:nth-of-type(4) .right {
        width: 100%;
        padding: 0;
        text-align: center
    }

    .blocks .section:nth-of-type(5) {
        padding: 30px 0
    }

    .blocks .section:nth-of-type(6) {
        padding: 30px 0
    }

    .blocks .section:nth-of-type(6) .text-block {
        position: relative;
        float: left;
        width: 100%;
        top: 0;
        margin-bottom: 50px
    }

    .blocks .section:nth-of-type(6) .text-block span {
        font-size: 29px
    }

    .blocks .section:nth-of-type(6) .text-block span:nth-of-type(2) {
        font-size: 48px
    }

    .blocks .section:nth-of-type(6) .rotate-wrap {
        position: relative;
        float: left;
        width: 100%;
        top: auto;
        right: auto
    }

    .blocks .section:nth-of-type(6) .rotate-wrap .img {
        display: none
    }

    .blocks .section:nth-of-type(6) .rotate-wrap .text1, .blocks .section:nth-of-type(6) .rotate-wrap .text2, .blocks .section:nth-of-type(6) .rotate-wrap .text3 {
        position: static;
        float: left;
        width: 100%
    }

    .blocks .section:nth-of-type(6) .rotate-wrap .text1 .icon, .blocks .section:nth-of-type(6) .rotate-wrap .text2 .icon, .blocks .section:nth-of-type(6) .rotate-wrap .text3 .icon {
        float: left;
        width: 50px;
        margin-right: 15px;
        text-align: center
    }

    .blocks .section:nth-of-type(7) {
        padding: 30px 0
    }

    .blocks .section:nth-of-type(7) .row:nth-child(1) {
        margin-bottom: 30px
    }

    .blocks .section:nth-of-type(7) .rounded-bg {
        display: none
    }

    .blocks .section:nth-of-type(7) .left {
        width: 100%
    }

    .blocks .section:nth-of-type(7) .left .img-wrap {
        position: relative;
        margin: 30px auto;
        text-align: center;
        top: auto !important;
        left: auto !important;
        right: auto !important;
        bottom: auto
    }

    .blocks .section:nth-of-type(7) .left .img-wrap:before {
        content: none !important;
        right: 0 !important;
        left: 0 !important
    }

    .blocks .section:nth-of-type(7) .right {
        width: 100%
    }

    .blocks .section:nth-of-type(7) p {
        text-align: center !important
    }

    .blocks .section:nth-of-type(7) p.bigger {
        margin-bottom: 0;
        font-size: 25px
    }

    .blocks .section:nth-of-type(9) {
        padding: 30px 0
    }

    .blocks .section:nth-of-type(9) .title {
        text-align: center
    }

    .blocks .section:nth-of-type(9) .map {
        width: 100%;
        text-align: center
    }

    .blocks .section:nth-of-type(9) .map img {
        width: 100%;
        max-width: 500px;
        height: auto;
        margin: 0 auto
    }

    .blocks .section:nth-of-type(9) .reviews {
        width: 100%
    }

    .blocks .section:nth-of-type(9) .reviews .review {
        max-width: 450px;
        margin: 0 auto 20px
    }

    .blocks .section:nth-of-type(10) {
        padding: 50px 0 30px
    }

    .blocks .section:nth-of-type(10) .sub-title {
        margin-bottom: 0
    }

    .blocks .section:nth-of-type(10) .left {
        width: 100%
    }

    .blocks .section:nth-of-type(10) .blur-out-wrap {
        width: 290px;
        height: 155px;
        margin: 0 auto
    }

    .blocks .section:nth-of-type(10) .blur-out-wrap .blur-out-here {
        top: 20px;
        left: 20px;
        right: 30px;
        height: 57px;
        line-height: 57px;
        font-size: 22px
    }

    .full-page-menu {
        position: fixed
    }

    .menu {
        float: none;
        width: 100%;
        max-width: 240px;
        margin: 0 auto;
        text-align: center
    }

    .menu .title {
        text-align: center
    }

    .menu a {
        padding-left: 0 !important;
        font-size: 18px
    }

    .menu a:before {
        width: 0 !important;
        opacity: 0 !important
    }
}

@media (min-width: 320px) and (max-width: 479px) {
    .hidden-xs {
        display: none
    }

    body {
        overflow: hidden
    }

    .container {
        width: 100% !important;
        padding: 0 15px !important;
        box-sizing: border-box !important
    }

    .page-nav {
        position: fixed !important;
        float: none !important;
        display: block !important;
        top: 0;
        left: 0;
        padding: 15px;
        z-index: 100
    }

    .page-nav.open {
        background: #fff !important
    }

    .page-nav .open-close-nav {
        position: relative;
        height: 23px;
        z-index: 10
    }

    .page-nav .open-close-nav span {
        border-color: rgba(255, 255, 255, 0.5)
    }

    .page-nav .open-close-nav.open span {
        border-color: #000
    }

    .onepage-pagination {
        display: none
    }

    .zattoch-info {
        top: 20%;
        left: 0;
        right: 0;
        margin: 0 auto;
        text-align: center
    }

    .zattoch-info a {
        margin: 30px auto
    }

    .blocks .section {
        height: auto
    }

    .blocks .section:nth-of-type(1) {
        position: relative !important;
        height: 100% !important
    }

    .blocks .section:nth-of-type(1) .light-left, .blocks .section:nth-of-type(1) .light-right, .blocks .section:nth-of-type(1) .lang {
        display: none
    }

    .blocks .section:nth-of-type(2) .title {
        margin: 30px 0;
        line-height: 1.5;
        font-size: 30px
    }

    .blocks .section:nth-of-type(2) .right {
        display: none
    }

    .blocks .section:nth-of-type(2) .left {
        width: 100%
    }

    .blocks .section:nth-of-type(3) {
        padding: 25px 0;
        background: url(../img/section3-320-bg.png) center no-repeat;
        background-size: cover
    }

    .blocks .section:nth-of-type(3) .title {
        color: #fff
    }

    .blocks .section:nth-of-type(3) .left {
        display: none
    }

    .blocks .section:nth-of-type(3) .right {
        width: 100%
    }

    .blocks .section:nth-of-type(3) .what-is {
        margin: 0
    }

    .blocks .section:nth-of-type(3) .what-is span:nth-child(1) {
        padding: 0
    }

    .blocks .section:nth-of-type(3) .what-is .line {
        display: none
    }

    .blocks .section:nth-of-type(3) .what-is .icon {
        margin-right: 10px
    }

    .blocks .section:nth-of-type(3) .what-is .text {
        width: 70%
    }

    .blocks .section:nth-of-type(3) .btm-text {
        margin: 50px 0 0 0
    }

    .blocks .section:nth-of-type(3) .btm-text p {
        margin-bottom: 20px;
        color: #fff;
        line-height: 1.3
    }

    .blocks .section:nth-of-type(4) {
        padding: 30px 0
    }

    .blocks .section:nth-of-type(4) .razor-wrap {
        margin: 50px auto
    }

    .blocks .section:nth-of-type(4) .razor-wrap img {
        width: 100%
    }

    .blocks .section:nth-of-type(4) .left {
        width: 100%;
        padding: 0
    }

    .blocks .section:nth-of-type(4) .right {
        width: 100%;
        padding: 0
    }

    .blocks .section:nth-of-type(4) .right .before, .blocks .section:nth-of-type(4) .right .after {
        width: 100%;
        margin-bottom: 30px
    }

    .blocks .section:nth-of-type(4) .right .img-wrap {
        margin: 0 auto
    }

    .blocks .section:nth-of-type(4) .right .and {
        display: none
    }

    .blocks .section:nth-of-type(5) {
        padding: 30px 0
    }

    .blocks .section:nth-of-type(5) .title {
        line-height: 1.5
    }

    .blocks .section:nth-of-type(5) .simple-text {
        width: 100%
    }

    .blocks .section:nth-of-type(6) {
        padding: 30px 0
    }

    .blocks .section:nth-of-type(6) .text-block {
        position: relative;
        float: left;
        width: 100%;
        top: 0;
        margin-bottom: 50px
    }

    .blocks .section:nth-of-type(6) .text-block span {
        font-size: 29px
    }

    .blocks .section:nth-of-type(6) .text-block span:nth-of-type(2) {
        font-size: 48px
    }

    .blocks .section:nth-of-type(6) .rotate-wrap {
        position: relative;
        float: left;
        width: 100%;
        top: auto;
        right: auto
    }

    .blocks .section:nth-of-type(6) .rotate-wrap .img {
        display: none
    }

    .blocks .section:nth-of-type(6) .rotate-wrap .text1, .blocks .section:nth-of-type(6) .rotate-wrap .text2, .blocks .section:nth-of-type(6) .rotate-wrap .text3 {
        position: static;
        float: left;
        width: 100%
    }

    .blocks .section:nth-of-type(6) .rotate-wrap .text1 .icon, .blocks .section:nth-of-type(6) .rotate-wrap .text2 .icon, .blocks .section:nth-of-type(6) .rotate-wrap .text3 .icon {
        float: left;
        width: 50px;
        margin-right: 15px;
        text-align: center
    }

    .blocks .section:nth-of-type(7) {
        padding: 30px 0
    }

    .blocks .section:nth-of-type(7) .row:nth-child(1) {
        margin-bottom: 30px
    }

    .blocks .section:nth-of-type(7) .rounded-bg {
        display: none
    }

    .blocks .section:nth-of-type(7) .left {
        width: 100%
    }

    .blocks .section:nth-of-type(7) .left .img-wrap {
        position: relative;
        margin: 30px auto;
        text-align: center;
        top: auto !important;
        left: auto !important;
        right: auto !important;
        bottom: auto
    }

    .blocks .section:nth-of-type(7) .left .img-wrap:before {
        content: none !important;
        right: 0 !important;
        left: 0 !important
    }

    .blocks .section:nth-of-type(7) .right {
        width: 100%
    }

    .blocks .section:nth-of-type(7) p {
        text-align: center !important
    }

    .blocks .section:nth-of-type(7) p.bigger {
        margin-bottom: 0;
        font-size: 25px
    }

    .blocks .section:nth-of-type(9) {
        padding: 30px 0
    }

    .blocks .section:nth-of-type(9) .title {
        text-align: center
    }

    .blocks .section:nth-of-type(9) .map {
        width: 100%
    }

    .blocks .section:nth-of-type(9) .map img {
        width: 100%;
        height: auto
    }

    .blocks .section:nth-of-type(9) .reviews {
        width: 100%
    }

    .blocks .section:nth-of-type(9) .reviews .review {
        margin-bottom: 20px
    }

    .blocks .section:nth-of-type(10) {
        padding: 50px 0 30px
    }

    .blocks .section:nth-of-type(10) .sub-title {
        margin-bottom: 0
    }

    .blocks .section:nth-of-type(10) .left {
        width: 100%
    }

    .blocks .section:nth-of-type(10) .blur-out-wrap {
        width: 290px;
        height: 155px;
        margin: 0 auto
    }

    .blocks .section:nth-of-type(10) .blur-out-wrap .blur-out-here {
        top: 20px;
        left: 20px;
        right: 30px;
        height: 57px;
        line-height: 57px;
        font-size: 22px
    }

    .full-page-menu {
        position: fixed
    }

    .menu {
        float: none;
        width: 100%;
        max-width: 240px;
        margin: 0 auto;
        text-align: center
    }

    .menu .title {
        text-align: center
    }

    .menu a {
        padding-left: 0 !important;
        font-size: 18px
    }

    .menu a:before {
        width: 0 !important;
        opacity: 0 !important
    }
}
