/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
/* line 17, scss/_reset.scss */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
/* line 27, scss/_reset.scss */
article, aside, details, figcaption, figure,
footer, header, menu, nav, section, main {
    display: block;
}

/* line 30, scss/_reset.scss */
body {
    line-height: 1;
}

/* line 33, scss/_reset.scss */
ol, ul {
    list-style: none;
}

/* line 36, scss/_reset.scss */
blockquote, q {
    quotes: none;
}

/* line 40, scss/_reset.scss */
blockquote:before, blockquote:after,
q:before, q:after {
    content: '';
    content: none;
}

/* line 44, scss/_reset.scss */
table {
    border-collapse: collapse;
    border-spacing: 0;
}

@font-face {
    font-family: 'GothamPro-Light';
    src: url("../fonts/GothamPro-Light.eot?#iefix") format("embedded-opentype"), url("../fonts/GothamPro-Light.woff") format("woff"), url("../fonts/GothamPro-Light.ttf") format("truetype"), url("../fonts/GothamPro-Light.svg#GothamPro-Light") format("svg");
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'GothamPro-Medium';
    src: url("../fonts/GothamPro-Medium.eot?#iefix") format("embedded-opentype"), url("../fonts/GothamPro-Medium.woff") format("woff"), url("../fonts/GothamPro-Medium.ttf") format("truetype"), url("../fonts/GothamPro-Medium.svg#GothamPro-Medium") format("svg");
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'GothamPro-Black';
    src: url("../fonts/GothamPro-Black.eot?#iefix") format("embedded-opentype"), url("../fonts/GothamPro-Black.woff") format("woff"), url("../fonts/GothamPro-Black.ttf") format("truetype"), url("../fonts/GothamPro-Black.svg#GothamPro-Black") format("svg");
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'GothamPro-Bold';
    src: url("../fonts/GothamPro-Bold.eot?#iefix") format("embedded-opentype"), url("../fonts/GothamPro-Bold.woff") format("woff"), url("../fonts/GothamPro-Bold.ttf") format("truetype"), url("../fonts/GothamPro-Bold.svg#GothamPro-Bold") format("svg");
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'GothamPro-MediumItalic';
    src: url("../fonts/GothamPro-MediumItalic.eot?#iefix") format("embedded-opentype"), url("../fonts/GothamPro-MediumItalic.woff") format("woff"), url("../fonts/GothamPro-MediumItalic.ttf") format("truetype"), url("../fonts/GothamPro-MediumItalic.svg#GothamPro-MediumItalic") format("svg");
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'GothamPro';
    src: url("../fonts/GothamPro.eot?#iefix") format("embedded-opentype"), url("../fonts/GothamPro.woff") format("woff"), url("../fonts/GothamPro.ttf") format("truetype"), url("../fonts/GothamPro.svg#GothamPro") format("svg");
    font-weight: normal;
    font-style: normal;
}

/* line 5, scss/general.scss */
.clearfix:after {
    content: "";
    display: table;
    clear: both;
}

/* line 13, scss/general.scss */
body,
.onepage-wrapper,
html {
    display: block;
    position: static;
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
    -webkit-transition: opacity 400ms;
    -moz-transition: opacity 400ms;
    transition: opacity 400ms;
}

/* line 29, scss/general.scss */
.disabled-onepage-scroll,
.disabled-onepage-scroll .wrapper {
    overflow: auto;
}

/* line 32, scss/general.scss */
.disabled-onepage-scroll .onepage-wrapper .section {
    position: static !important;
    top: auto !important;
    left: auto !important;
}

/* line 37, scss/general.scss */
.disabled-onepage-scroll .onepage-wrapper {
    -webkit-transform: none !important;
    -moz-transform: none !important;
    transform: none !important;
    -ms-transform: none !important;
}

/* line 44, scss/general.scss */
.disabled-onepage-scroll .onepage-pagination {
    display: none;
}

/* line 49, scss/general.scss */
body.disabled-onepage-scroll,
.disabled-onepage-scroll .onepage-wrapper,
html {
    position: inherit;
}

/* line 53, scss/general.scss */
.onepage-wrapper {
    width: 100%;
    height: 100%;
    display: block;
    position: relative;
    padding: 0;
    -webkit-transform-style: preserve-3d;
}
/* line 61, scss/general.scss */
.onepage-wrapper .section {
    width: 100%;
    height: 100%;
}

/* line 66, scss/general.scss */
.onepage-pagination {
    position: absolute;
    right: 50px;
    top: 39%;
    z-index: 5;
    list-style: none;
    margin: 0;
    padding: 0;
}
/* line 75, scss/general.scss */
.onepage-pagination li {
    margin: 4px 0;
}
/* line 78, scss/general.scss */
.onepage-pagination a {
    display: inline-block;
    position: relative;
    width: 17px;
    height: 10px;
    border: 1px solid rgba(255, 255, 255, 0.5);
    -webkit-transition: all 0.5s ease-out;
    -moz-transition: all 0.5s ease-out;
    -ms-transition: all 0.5s ease-out;
    -o-transition: all 0.5s ease-out;
    transition: all 0.5s ease-out;
}
/* line 90, scss/general.scss */
.onepage-pagination a::before {
    content: '';
    position: absolute;
    top: 4px;
    left: -26px;
    width: 14px;
    border-top: 1px solid rgba(255, 255, 255, 0.5);
    -webkit-transition: all 0.6s ease-out;
    -moz-transition: all 0.6s ease-out;
    -ms-transition: all 0.6s ease-out;
    -o-transition: all 0.6s ease-out;
    transition: all 0.6s ease-out;
}
/* line 103, scss/general.scss */
.onepage-pagination a::after {
    content: '';
    position: absolute;
    top: -1px;
    left: -26px;
    width: 6px;
    height: 11px;
    opacity: 0;
    background: url(../img/triangle-left.png) center no-repeat;
    -webkit-transition: all 0.6s ease-out;
    -moz-transition: all 0.6s ease-out;
    -ms-transition: all 0.6s ease-out;
    -o-transition: all 0.6s ease-out;
    transition: all 0.6s ease-out;
}
/* line 119, scss/general.scss */
.onepage-pagination a.active {
    border: 1px solid white;
}
/* line 122, scss/general.scss */
.onepage-pagination a.active::before {
    left: -62px;
    width: 50px;
    border-top: 1px solid white;
    -webkit-transition: all 0.4s ease-out;
    -moz-transition: all 0.4s ease-out;
    -ms-transition: all 0.4s ease-out;
    -o-transition: all 0.4s ease-out;
    transition: all 0.4s ease-out;
}
/* line 132, scss/general.scss */
.onepage-pagination a.active::after {
    content: '';
    position: absolute;
    top: -1px;
    left: -63px;
    width: 6px;
    height: 11px;
    opacity: 1;
    background: url(../img/triangle-left.png) center no-repeat;
    -webkit-transition: all 0.4s ease-out;
    -moz-transition: all 0.4s ease-out;
    -ms-transition: all 0.4s ease-out;
    -o-transition: all 0.4s ease-out;
    transition: all 0.4s ease-out;
}

/* line 154, scss/general.scss */
.viewing-page-2 .onepage-pagination,
.viewing-page-4 .onepage-pagination,
.viewing-page-5 .onepage-pagination,
.viewing-page-9 .onepage-pagination,
.viewing-page-10 .onepage-pagination {
    position: absolute;
    right: 50px;
    top: 39%;
    z-index: 5;
    list-style: none;
    margin: 0;
    padding: 0;
}
/* line 163, scss/general.scss */
.viewing-page-2 .onepage-pagination li,
.viewing-page-4 .onepage-pagination li,
.viewing-page-5 .onepage-pagination li,
.viewing-page-9 .onepage-pagination li,
.viewing-page-10 .onepage-pagination li {
    margin: 4px 0;
}
/* line 166, scss/general.scss */
.viewing-page-2 .onepage-pagination a,
.viewing-page-4 .onepage-pagination a,
.viewing-page-5 .onepage-pagination a,
.viewing-page-9 .onepage-pagination a,
.viewing-page-10 .onepage-pagination a {
    display: inline-block;
    position: relative;
    width: 17px;
    height: 10px;
    border: 1px solid rgba(0, 0, 0, 0.5);
    -webkit-transition: all 0.5s ease-out;
    -moz-transition: all 0.5s ease-out;
    -ms-transition: all 0.5s ease-out;
    -o-transition: all 0.5s ease-out;
    transition: all 0.5s ease-out;
}
/* line 178, scss/general.scss */
.viewing-page-2 .onepage-pagination a::before,
.viewing-page-4 .onepage-pagination a::before,
.viewing-page-5 .onepage-pagination a::before,
.viewing-page-9 .onepage-pagination a::before,
.viewing-page-10 .onepage-pagination a::before {
    content: '';
    position: absolute;
    top: 4px;
    left: -26px;
    width: 14px;
    border-top: 1px solid rgba(0, 0, 0, 0.5);
    -webkit-transition: all 0.6s ease-out;
    -moz-transition: all 0.6s ease-out;
    -ms-transition: all 0.6s ease-out;
    -o-transition: all 0.6s ease-out;
    transition: all 0.6s ease-out;
}
/* line 191, scss/general.scss */
.viewing-page-2 .onepage-pagination a::after,
.viewing-page-4 .onepage-pagination a::after,
.viewing-page-5 .onepage-pagination a::after,
.viewing-page-9 .onepage-pagination a::after,
.viewing-page-10 .onepage-pagination a::after {
    content: '';
    position: absolute;
    top: -1px;
    left: -26px;
    width: 6px;
    height: 11px;
    opacity: 0;
    background: url(../img/triangle-left-black.png) center no-repeat;
    -webkit-transition: all 0.6s ease-out;
    -moz-transition: all 0.6s ease-out;
    -ms-transition: all 0.6s ease-out;
    -o-transition: all 0.6s ease-out;
    transition: all 0.6s ease-out;
}
/* line 207, scss/general.scss */
.viewing-page-2 .onepage-pagination a.active,
.viewing-page-4 .onepage-pagination a.active,
.viewing-page-5 .onepage-pagination a.active,
.viewing-page-9 .onepage-pagination a.active,
.viewing-page-10 .onepage-pagination a.active {
    border: 1px solid black;
}
/* line 210, scss/general.scss */
.viewing-page-2 .onepage-pagination a.active::before,
.viewing-page-4 .onepage-pagination a.active::before,
.viewing-page-5 .onepage-pagination a.active::before,
.viewing-page-9 .onepage-pagination a.active::before,
.viewing-page-10 .onepage-pagination a.active::before {
    left: -62px;
    width: 50px;
    border-top: 1px solid black;
    -webkit-transition: all 0.4s ease-out;
    -moz-transition: all 0.4s ease-out;
    -ms-transition: all 0.4s ease-out;
    -o-transition: all 0.4s ease-out;
    transition: all 0.4s ease-out;
}
/* line 220, scss/general.scss */
.viewing-page-2 .onepage-pagination a.active::after,
.viewing-page-4 .onepage-pagination a.active::after,
.viewing-page-5 .onepage-pagination a.active::after,
.viewing-page-9 .onepage-pagination a.active::after,
.viewing-page-10 .onepage-pagination a.active::after {
    content: '';
    position: absolute;
    top: -1px;
    left: -63px;
    width: 6px;
    height: 11px;
    opacity: 1;
    background: url(../img/triangle-left-black.png) center no-repeat;
    -webkit-transition: all 0.4s ease-out;
    -moz-transition: all 0.4s ease-out;
    -ms-transition: all 0.4s ease-out;
    -o-transition: all 0.4s ease-out;
    transition: all 0.4s ease-out;
}

/* line 238, scss/general.scss */
.page-nav {
    position: absolute;
    top: 50%;
    left: 50px;
    z-index: 10;
}

/* line 245, scss/general.scss */
.blocks section {
    height: 100vh;
    position: relative;
}
/* line 249, scss/general.scss */
.blocks section .container {
    position: relative;
    width: 1090px;
    margin: 0 auto;
    padding: 50px 0;
    box-sizing: border-box;
}
/* line 256, scss/general.scss */
.blocks section .title {
    margin-bottom: 25px;
    color: #000;
    font-size: 40px;
    font-family: "GothamPro";
}
/* line 262, scss/general.scss */
.blocks section p {
    position: relative;
    margin-bottom: 20px;
    color: #000;
    font-size: 14px;
    font-family: "GothamPro";
    text-align: left;
    text-indent: 20px;
    line-height: 1.1;
}
/* line 272, scss/general.scss */
.blocks section p.m-italic {
    font-family: "GothamPro-MediumItalic";
}
/* line 275, scss/general.scss */
.blocks section p.m {
    font-family: "GothamPro-Medium";
}
/* line 278, scss/general.scss */
.blocks section p.with-line {
    text-indent: 65px;
}
/* line 281, scss/general.scss */
.blocks section p.with-line:before {
    content: '';
    position: absolute;
    top: 6px;
    left: 0;
    width: 55px;
    border: 1px solid #000;
}
/* line 291, scss/general.scss */
.blocks section b {
    font-family: "GothamPro-Bold";
}
/* line 295, scss/general.scss */
.blocks section:nth-of-type(1) {
    background: url(../img/main-bg.png) center no-repeat;
    -webkit-background-size: cover;
    background-size: cover;
}
/* line 300, scss/general.scss */
.blocks section:nth-of-type(1)::after {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    width: 100%;
    height: 100%;
    background: url(../img/main-layer2.png) center no-repeat;
    -webkit-background-size: cover;
    background-size: cover;
    z-index: 10;
}
/* line 316, scss/general.scss */
.blocks section:nth-of-type(2) .left {
    float: left;
    width: 68%;
    text-align: center;
}
/* line 321, scss/general.scss */
.blocks section:nth-of-type(2) .right {
    float: left;
    position: relative;
    width: 32%;
    text-align: right;
}
/* line 327, scss/general.scss */
.blocks section:nth-of-type(2) .layers-wrap {
    position: relative;
    margin-top: 30%;
}
/* line 331, scss/general.scss */
.blocks section:nth-of-type(2) .layers-wrap img {
    position: absolute;
    left: 0;
    right: 0;
    margin: 0 auto;
}
/* line 337, scss/general.scss */
.blocks section:nth-of-type(2) .layers-wrap img:first-child {
    top: 45px;
    left: -85px;
}
/* line 341, scss/general.scss */
.blocks section:nth-of-type(2) .layers-wrap img:last-child {
    right: -80px;
}
/* line 346, scss/general.scss */
.blocks section:nth-of-type(2) .two-lines {
    position: absolute;
    top: 16px;
    right: 38%;
    width: 100%;
    height: 60px;
    border-top: 1px solid #000;
    border-right: 1px solid #000;
}
/* line 356, scss/general.scss */
.blocks section:nth-of-type(3) {
    background: url(../img/screen3-bg.png) center 0 no-repeat;
    background-size: contain;
}
/* line 360, scss/general.scss */
.blocks section:nth-of-type(3) .title {
    margin-top: 15px;
    font-size: 25px;
    text-transform: uppercase;
}
/* line 365, scss/general.scss */
.blocks section:nth-of-type(3) .left {
    float: left;
    width: 32%;
    text-align: center;
}
/* line 370, scss/general.scss */
.blocks section:nth-of-type(3) .right {
    float: left;
    position: relative;
    width: 68%;
    text-align: center;
}
/* line 376, scss/general.scss */
.blocks section:nth-of-type(3) .layers-wrap {
    position: relative;
    margin-top: 30%;
}
/* line 380, scss/general.scss */
.blocks section:nth-of-type(3) .layers-wrap img {
    position: absolute;
    left: 0;
    right: 0;
    margin: 0 auto;
}
/* line 386, scss/general.scss */
.blocks section:nth-of-type(3) .layers-wrap img:nth-child(1) {
    top: -10px;
    z-index: 10;
}
/* line 390, scss/general.scss */
.blocks section:nth-of-type(3) .layers-wrap img:nth-child(2) {
    top: 60px;
    z-index: 9;
}
/* line 394, scss/general.scss */
.blocks section:nth-of-type(3) .layers-wrap img:nth-child(3) {
    top: 130px;
    z-index: 8;
}
/* line 398, scss/general.scss */
.blocks section:nth-of-type(3) .layers-wrap img:nth-child(4) {
    top: 200px;
    z-index: 7;
}
/* line 403, scss/general.scss */
.blocks section:nth-of-type(3) .layers-wrap p.must-know {
    position: absolute;
    top: 370px;
    right: 10px;
    color: #000;
    font-size: 18px;
    font-family: "GothamPro-Bold";
}
/* line 412, scss/general.scss */
.blocks section:nth-of-type(3) .what-is {
    margin-top: 60px;
    margin-left: 50px;
    text-align: left;
}
/* line 417, scss/general.scss */
.blocks section:nth-of-type(3) .what-is .row {
    margin-bottom: 30px;
}
/* line 420, scss/general.scss */
.blocks section:nth-of-type(3) .what-is span {
    display: inline-block;
    color: #fff;
    font-size: 14px;
    font-family: "GothamPro-Light";
    vertical-align: top;
}
/* line 427, scss/general.scss */
.blocks section:nth-of-type(3) .what-is span:nth-child(1) {
    width: 20px;
    padding: 0 20px 0 10px;
    text-align: center;
}
/* line 433, scss/general.scss */
.blocks section:nth-of-type(3) .what-is span.line {
    width: 200px;
    margin-top: 5px;
    margin-right: 20px;
    border-top: 1px solid rgba(255, 255, 255, 0.33);
    vertical-align: top;
}
/* line 440, scss/general.scss */
.blocks section:nth-of-type(3) .what-is span.icon {
    width: 42px;
    margin-right: 20px;
    text-align: center;
}
/* line 447, scss/general.scss */
.blocks section:nth-of-type(3) .btm-text {
    margin: 68px 0 0 10px;
}
/* line 450, scss/general.scss */
.blocks section:nth-of-type(3) .btm-text p {
    position: relative;
    margin-bottom: 0;
    color: #000;
    font-size: 14px;
    font-family: "GothamPro";
    text-indent: 25px;
}
/* line 458, scss/general.scss */
.blocks section:nth-of-type(3) .btm-text p:before {
    content: '';
    position: absolute;
    top: 7px;
    left: 0;
    width: 20px;
    height: 1px;
    background: #000;
    opacity: 0.33;
}
/* line 468, scss/general.scss */
.blocks section:nth-of-type(3) .btm-text p b {
    font-family: "GothamPro-Bold";
}
/* line 475, scss/general.scss */
.blocks section:nth-of-type(4) .title {
    font-size: 25px;
    text-transform: uppercase;
    text-align: center;
}
/* line 480, scss/general.scss */
.blocks section:nth-of-type(4) .razor-wrap {
    margin: 100px auto;
    text-align: center;
}
/* line 484, scss/general.scss */
.blocks section:nth-of-type(4) .left {
    float: left;
    width: 50%;
    padding-right: 20px;
    box-sizing: border-box;
}
/* line 490, scss/general.scss */
.blocks section:nth-of-type(4) .right {
    float: left;
    width: 50%;
    padding-left: 20px;
    box-sizing: border-box;
}
/* line 496, scss/general.scss */
.blocks section:nth-of-type(4) .before {
    display: inline-block;
}
/* line 499, scss/general.scss */
.blocks section:nth-of-type(4) .and {
    display: inline-block;
}
/* line 502, scss/general.scss */
.blocks section:nth-of-type(4) .and img {
    margin: 85px 20px;
    vertical-align: top;
}
/* line 507, scss/general.scss */
.blocks section:nth-of-type(4) .after {
    display: inline-block;
}
/* line 510, scss/general.scss */
.blocks section:nth-of-type(4) .label {
    margin-bottom: 10px;
    color: #000;
    font-size: 14px;
    font-family: "GothamPro-Medium";
    text-align: center;
}
/* line 517, scss/general.scss */
.blocks section:nth-of-type(4) .img-wrap {
    width: 220px;
    height: 130px;
    border: 1px solid #7d7d7d;
}
/* line 524, scss/general.scss */
.blocks section:nth-of-type(5) .title {
    font-size: 25px;
    text-transform: uppercase;
    text-align: center;
}
/* line 529, scss/general.scss */
.blocks section:nth-of-type(5) .simple-text {
    width: 89%;
    margin: 0 auto;
}

/* line 551, scss/general.scss */
.open-close-nav {
    width: 29px;
    height: 45px;
    position: relative;
    margin: 0 auto;
    -webkit-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    transform: rotate(0deg);
    -webkit-transition: all 0.4s ease-out;
    -moz-transition: all 0.4s ease-out;
    -ms-transition: all 0.4s ease-out;
    -o-transition: all 0.4s ease-out;
    transition: all 0.4s ease-out;
    cursor: pointer;
}
/* line 568, scss/general.scss */
.open-close-nav:hover span {
    border: 1px solid white;
}
/* line 573, scss/general.scss */
.open-close-nav span {
    display: block;
    position: absolute;
    height: 3px;
    width: 100%;
    border: 1px solid rgba(255, 255, 255, 0.5);
    opacity: 1;
    left: 0;
    -webkit-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    transform: rotate(0deg);
    -webkit-transition: .25s ease-in-out;
    -moz-transition: .25s ease-in-out;
    -o-transition: .25s ease-in-out;
    transition: .25s ease-in-out;
}
/* line 590, scss/general.scss */
.open-close-nav span:nth-child(1) {
    top: 0px;
    -webkit-transform-origin: left center;
    -moz-transform-origin: left center;
    -o-transform-origin: left center;
    transform-origin: left center;
}
/* line 597, scss/general.scss */
.open-close-nav span:nth-child(2) {
    top: 9px;
    -webkit-transform-origin: left center;
    -moz-transform-origin: left center;
    -o-transform-origin: left center;
    transform-origin: left center;
}
/* line 604, scss/general.scss */
.open-close-nav span:nth-child(3) {
    top: 18px;
    -webkit-transform-origin: left center;
    -moz-transform-origin: left center;
    -o-transform-origin: left center;
    transform-origin: left center;
}
/* line 615, scss/general.scss */
.open-close-nav.open span:nth-child(1) {
    -webkit-transform: rotate(45deg);
    -moz-transform: rotate(45deg);
    -o-transform: rotate(45deg);
    transform: rotate(45deg);
    top: 0px;
    left: 4px;
}
/* line 623, scss/general.scss */
.open-close-nav.open span:nth-child(2) {
    width: 0%;
    opacity: 0;
}
/* line 627, scss/general.scss */
.open-close-nav.open span:nth-child(3) {
    -webkit-transform: rotate(-45deg);
    -moz-transform: rotate(-45deg);
    -o-transform: rotate(-45deg);
    transform: rotate(-45deg);
    top: 22px;
    left: 4px;
}

/* line 642, scss/general.scss */
.viewing-page-2 .open-close-nav,
.viewing-page-4 .open-close-nav,
.viewing-page-5 .open-close-nav,
.viewing-page-9 .open-close-nav,
.viewing-page-10 .open-close-nav {
    width: 29px;
    height: 45px;
    position: relative;
    margin: 0 auto;
    -webkit-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    transform: rotate(0deg);
    -webkit-transition: all 0.4s ease-out;
    -moz-transition: all 0.4s ease-out;
    -ms-transition: all 0.4s ease-out;
    -o-transition: all 0.4s ease-out;
    transition: all 0.4s ease-out;
    cursor: pointer;
}
/* line 659, scss/general.scss */
.viewing-page-2 .open-close-nav:hover span,
.viewing-page-4 .open-close-nav:hover span,
.viewing-page-5 .open-close-nav:hover span,
.viewing-page-9 .open-close-nav:hover span,
.viewing-page-10 .open-close-nav:hover span {
    border: 1px solid black;
}
/* line 664, scss/general.scss */
.viewing-page-2 .open-close-nav span,
.viewing-page-4 .open-close-nav span,
.viewing-page-5 .open-close-nav span,
.viewing-page-9 .open-close-nav span,
.viewing-page-10 .open-close-nav span {
    display: block;
    position: absolute;
    height: 3px;
    width: 100%;
    border: 1px solid rgba(0, 0, 0, 0.5);
    opacity: 1;
    left: 0;
    -webkit-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    transform: rotate(0deg);
    -webkit-transition: .25s ease-in-out;
    -moz-transition: .25s ease-in-out;
    -o-transition: .25s ease-in-out;
    transition: .25s ease-in-out;
}
/* line 681, scss/general.scss */
.viewing-page-2 .open-close-nav span:nth-child(1),
.viewing-page-4 .open-close-nav span:nth-child(1),
.viewing-page-5 .open-close-nav span:nth-child(1),
.viewing-page-9 .open-close-nav span:nth-child(1),
.viewing-page-10 .open-close-nav span:nth-child(1) {
    top: 0px;
    -webkit-transform-origin: left center;
    -moz-transform-origin: left center;
    -o-transform-origin: left center;
    transform-origin: left center;
}
/* line 688, scss/general.scss */
.viewing-page-2 .open-close-nav span:nth-child(2),
.viewing-page-4 .open-close-nav span:nth-child(2),
.viewing-page-5 .open-close-nav span:nth-child(2),
.viewing-page-9 .open-close-nav span:nth-child(2),
.viewing-page-10 .open-close-nav span:nth-child(2) {
    top: 9px;
    -webkit-transform-origin: left center;
    -moz-transform-origin: left center;
    -o-transform-origin: left center;
    transform-origin: left center;
}
/* line 695, scss/general.scss */
.viewing-page-2 .open-close-nav span:nth-child(3),
.viewing-page-4 .open-close-nav span:nth-child(3),
.viewing-page-5 .open-close-nav span:nth-child(3),
.viewing-page-9 .open-close-nav span:nth-child(3),
.viewing-page-10 .open-close-nav span:nth-child(3) {
    top: 18px;
    -webkit-transform-origin: left center;
    -moz-transform-origin: left center;
    -o-transform-origin: left center;
    transform-origin: left center;
}
/* line 706, scss/general.scss */
.viewing-page-2 .open-close-nav.open span:nth-child(1),
.viewing-page-4 .open-close-nav.open span:nth-child(1),
.viewing-page-5 .open-close-nav.open span:nth-child(1),
.viewing-page-9 .open-close-nav.open span:nth-child(1),
.viewing-page-10 .open-close-nav.open span:nth-child(1) {
    -webkit-transform: rotate(45deg);
    -moz-transform: rotate(45deg);
    -o-transform: rotate(45deg);
    transform: rotate(45deg);
    top: 0px;
    left: 4px;
}
/* line 714, scss/general.scss */
.viewing-page-2 .open-close-nav.open span:nth-child(2),
.viewing-page-4 .open-close-nav.open span:nth-child(2),
.viewing-page-5 .open-close-nav.open span:nth-child(2),
.viewing-page-9 .open-close-nav.open span:nth-child(2),
.viewing-page-10 .open-close-nav.open span:nth-child(2) {
    width: 0%;
    opacity: 0;
}
/* line 718, scss/general.scss */
.viewing-page-2 .open-close-nav.open span:nth-child(3),
.viewing-page-4 .open-close-nav.open span:nth-child(3),
.viewing-page-5 .open-close-nav.open span:nth-child(3),
.viewing-page-9 .open-close-nav.open span:nth-child(3),
.viewing-page-10 .open-close-nav.open span:nth-child(3) {
    -webkit-transform: rotate(-45deg);
    -moz-transform: rotate(-45deg);
    -o-transform: rotate(-45deg);
    transform: rotate(-45deg);
    top: 22px;
    left: 4px;
}

/* line 729, scss/general.scss */
.go-to-second {
    position: absolute;
    bottom: 30px;
    left: 0;
    right: 0;
    width: 6px;
    height: 11px;
    margin: 0 auto;
    -moz-transform: rotate(270deg);
    -webkit-transform: rotate(270deg);
    -o-transform: rotate(270deg);
    -ms-transform: rotate(270deg);
    transform: rotate(270deg);
    z-index: 20;
}

/* line 744, scss/general.scss */
.dots1 {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    width: 100%;
    height: 100%;
    background: url(../img/dots1.png) center no-repeat;
    background-size: contain;
    z-index: 5;
}

/* line 756, scss/general.scss */
.dots2 {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    width: 100%;
    height: 100%;
    background: url(../img/dots2.png) center no-repeat;
    background-size: contain;
    z-index: 5;
}

/* line 768, scss/general.scss */
.lang {
    position: absolute;
    top: 37px;
    right: 50px;
    z-index: 20;
}
/* line 774, scss/general.scss */
.lang li {
    display: inline-block;
    margin-left: 15px;
}
/* line 779, scss/general.scss */
.lang li.active a {
    color: white;
}
/* line 784, scss/general.scss */
.lang a {
    color: rgba(255, 255, 255, 0.5);
    font-size: 10px;
    font-family: 'GothamPro-Medium';
    text-transform: uppercase;
    text-decoration: none;
    -webkit-transition: all 0.1s ease-in;
    -moz-transition: all 0.1s ease-in;
    -ms-transition: all 0.1s ease-in;
    -o-transition: all 0.1s ease-in;
    transition: all 0.1s ease-in;
}
/* line 796, scss/general.scss */
.lang a:hover {
    color: white;
}

/* line 801, scss/general.scss */
.light-left {
    position: absolute;
    bottom: 0;
    left: 8%;
    width: 67%;
    height: 80%;
    background-size: 60%;
    background: url(../img/light-left.png) center no-repeat;
    z-index: 8;
}

/* line 811, scss/general.scss */
.light-right {
    position: absolute;
    top: -4%;
    right: 0;
    width: 45%;
    height: 95%;
    background: url(../img/light-right.png) center no-repeat;
    z-index: 8;
}

/* line 820, scss/general.scss */
.zattoch-info {
    position: absolute;
    top: 29%;
    left: 23%;
    width: 280px;
    z-index: 20;
}
/* line 827, scss/general.scss */
.zattoch-info .text {
    margin: 19px 0;
    color: rgba(255, 255, 255, 0.9);
    font-size: 22px;
    font-family: 'GothamPro-Light';
    text-indent: 28px;
    line-height: 1.2;
}
/* line 835, scss/general.scss */
.zattoch-info a {
    display: inline-block;
    position: relative;
    width: 115px;
    height: 24px;
    line-height: 24px;
    padding: 0 10px;
    color: rgba(255, 255, 255, 0.5);
    border: 1px solid rgba(255, 255, 255, 0.5);
    font-size: 10px;
    font-family: 'GothamPro-Light';
    text-decoration: none;
    -webkit-transition: all 0.2s ease-in;
    -moz-transition: all 0.2s ease-in;
    -ms-transition: all 0.2s ease-in;
    -o-transition: all 0.2s ease-in;
    transition: all 0.2s ease-in;
}
/* line 853, scss/general.scss */
.zattoch-info a:hover {
    border: 1px solid white;
}
/* line 856, scss/general.scss */
.zattoch-info a:hover span {
    left: 10px;
    color: white;
    -webkit-transition: all 0.2s ease-in;
    -moz-transition: all 0.2s ease-in;
    -ms-transition: all 0.2s ease-in;
    -o-transition: all 0.2s ease-in;
    transition: all 0.2s ease-in;
}
/* line 865, scss/general.scss */
.zattoch-info a:hover::before {
    right: 10px;
    width: 35px;
    border-top: 1px solid white;
    -webkit-transition: all 0.2s ease-in;
    -moz-transition: all 0.2s ease-in;
    -ms-transition: all 0.2s ease-in;
    -o-transition: all 0.2s ease-in;
    transition: all 0.2s ease-in;
}
/* line 876, scss/general.scss */
.zattoch-info a::before {
    content: '';
    position: absolute;
    top: 11px;
    right: 0px;
    width: 0px;
    border-top: 1px solid rgba(255, 255, 255, 0.5);
    -webkit-transition: all 0.2s ease-in;
    -moz-transition: all 0.2s ease-in;
    -ms-transition: all 0.2s ease-in;
    -o-transition: all 0.2s ease-in;
    transition: all 0.2s ease-in;
}
/* line 890, scss/general.scss */
.zattoch-info a span {
    position: absolute;
    left: 37px;
    -webkit-transition: all 0.2s ease-in;
    -moz-transition: all 0.2s ease-in;
    -ms-transition: all 0.2s ease-in;
    -o-transition: all 0.2s ease-in;
    transition: all 0.2s ease-in;
}

@media (min-width: 1200px) and (max-width: 1299px) {
    /* line 4, scss/_responsive.scss */
    .blocks section .container {
        width: 980px;
    }
    /* line 10, scss/_responsive.scss */
    .blocks section:nth-of-type(3) .what-is .row {
        margin-bottom: 20px;
    }
    /* line 14, scss/_responsive.scss */
    .blocks section:nth-of-type(3) .what-is span.line {
        width: 100px;
    }
    /* line 21, scss/_responsive.scss */
    .blocks section:nth-of-type(4) .img-wrap {
        width: 190px;
    }
}
@media (min-width: 980px) and (max-width: 1199px) {
    /* line 29, scss/_responsive.scss */
    .container {
        width: 780px !important;
    }

    /* line 32, scss/_responsive.scss */
    body {
        overflow: hidden;
    }

    /* line 35, scss/_responsive.scss */
    .page-nav {
        position: fixed !important;
        float: none !important;
        display: block !important;
        top: 0;
        left: 0;
        padding: 25px;
        z-index: 25;
    }
    /* line 44, scss/_responsive.scss */
    .page-nav .open-close-nav {
        position: relative;
        height: 23px;
        z-index: 10;
    }
    /* line 49, scss/_responsive.scss */
    .page-nav .open-close-nav span {
        border-color: rgba(255, 255, 255, 0.5);
    }

    /* line 54, scss/_responsive.scss */
    .onepage-pagination {
        display: none;
    }

    /* line 55, scss/_responsive.scss */
    .zattoch-info {
        top: 20%;
        left: 0;
        right: 0;
        margin: 0 auto;
        text-align: center;
    }
    /* line 62, scss/_responsive.scss */
    .zattoch-info a {
        margin: 30px auto;
    }
    /* line 65, scss/_responsive.scss */
    .zattoch-info .text {
        margin: 50px 0 150px;
    }

    /* line 70, scss/_responsive.scss */
    .blocks .section {
        height: auto;
    }
    /* line 74, scss/_responsive.scss */
    .blocks .section:nth-of-type(1) {
        height: 100% !important;
    }
    /* line 80, scss/_responsive.scss */
    .blocks .section:nth-of-type(2) .title {
        margin: 30px 0;
        line-height: 1.5;
        font-size: 30px;
    }
    /* line 85, scss/_responsive.scss */
    .blocks .section:nth-of-type(2) .right {
        display: none;
    }
    /* line 86, scss/_responsive.scss */
    .blocks .section:nth-of-type(2) .left {
        width: 100%;
    }
    /* line 92, scss/_responsive.scss */
    .blocks .section:nth-of-type(3) {
        background: url(../img/section3-320-bg.png) center no-repeat;
        background-size: cover;
    }
    /* line 97, scss/_responsive.scss */
    .blocks .section:nth-of-type(3) .title {
        color: #fff;
    }
    /* line 100, scss/_responsive.scss */
    .blocks .section:nth-of-type(3) .left {
        display: none;
    }
    /* line 101, scss/_responsive.scss */
    .blocks .section:nth-of-type(3) .right {
        width: 100%;
    }
    /* line 104, scss/_responsive.scss */
    .blocks .section:nth-of-type(3) .what-is {
        margin: 0;
    }
    /* line 107, scss/_responsive.scss */
    .blocks .section:nth-of-type(3) .what-is .row {
        width: 100%;
        display: inline-block;
        text-align: center;
    }
    /* line 113, scss/_responsive.scss */
    .blocks .section:nth-of-type(3) .what-is span:nth-child(1) {
        padding: 0;
    }
    /* line 116, scss/_responsive.scss */
    .blocks .section:nth-of-type(3) .what-is .line {
        display: none;
    }
    /* line 117, scss/_responsive.scss */
    .blocks .section:nth-of-type(3) .what-is .icon {
        margin-right: 10px;
    }
    /* line 120, scss/_responsive.scss */
    .blocks .section:nth-of-type(3) .what-is .text {
        width: 330px;
        text-align: left;
    }
    /* line 125, scss/_responsive.scss */
    .blocks .section:nth-of-type(3) .btm-text {
        margin: 50px 0 0 0;
    }
    /* line 128, scss/_responsive.scss */
    .blocks .section:nth-of-type(3) .btm-text p {
        margin-bottom: 20px;
        color: #fff;
        line-height: 1.3;
    }
    /* line 140, scss/_responsive.scss */
    .blocks .section:nth-of-type(4) .razor-wrap {
        margin: 50px auto;
    }
    /* line 143, scss/_responsive.scss */
    .blocks .section:nth-of-type(4) .razor-wrap img {
        width: 100%;
        max-width: 400px;
    }
    /* line 148, scss/_responsive.scss */
    .blocks .section:nth-of-type(4) .left {
        width: 100%;
        padding: 0;
    }
    /* line 152, scss/_responsive.scss */
    .blocks .section:nth-of-type(4) .right {
        width: 100%;
        padding: 0;
        text-align: center;
    }
}
@media (min-width: 768px) and (max-width: 979px) {
    /* line 168, scss/_responsive.scss */
    body {
        overflow: hidden;
    }

    /* line 171, scss/_responsive.scss */
    .container {
        width: 100% !important;
        padding: 0 15px !important;
        box-sizing: border-box !important;
    }

    /* line 176, scss/_responsive.scss */
    .page-nav {
        position: fixed !important;
        float: none !important;
        display: block !important;
        top: 0;
        left: 0;
        padding: 15px;
        z-index: 25;
    }
    /* line 185, scss/_responsive.scss */
    .page-nav .open-close-nav {
        position: relative;
        height: 23px;
        z-index: 10;
    }
    /* line 190, scss/_responsive.scss */
    .page-nav .open-close-nav span {
        border-color: rgba(255, 255, 255, 0.5);
    }

    /* line 195, scss/_responsive.scss */
    .onepage-pagination {
        display: none;
    }

    /* line 196, scss/_responsive.scss */
    .zattoch-info {
        top: 20%;
        left: 0;
        right: 0;
        margin: 0 auto;
        text-align: center;
    }
    /* line 203, scss/_responsive.scss */
    .zattoch-info a {
        margin: 30px auto;
    }

    /* line 208, scss/_responsive.scss */
    .blocks .section {
        height: auto;
    }
    /* line 212, scss/_responsive.scss */
    .blocks .section:nth-of-type(1) {
        height: 100% !important;
    }
    /* line 217, scss/_responsive.scss */
    .blocks .section:nth-of-type(1) .light-left,
    .blocks .section:nth-of-type(1) .light-right,
    .blocks .section:nth-of-type(1) .lang {
        display: none;
    }
    /* line 224, scss/_responsive.scss */
    .blocks .section:nth-of-type(2) .title {
        margin: 30px 0;
        line-height: 1.5;
        font-size: 30px;
    }
    /* line 229, scss/_responsive.scss */
    .blocks .section:nth-of-type(2) .right {
        display: none;
    }
    /* line 230, scss/_responsive.scss */
    .blocks .section:nth-of-type(2) .left {
        width: 100%;
    }
    /* line 236, scss/_responsive.scss */
    .blocks .section:nth-of-type(3) {
        padding: 25px 0;
        background: url(../img/section3-320-bg.png) center no-repeat;
        background-size: cover;
    }
    /* line 241, scss/_responsive.scss */
    .blocks .section:nth-of-type(3) .title {
        color: #fff;
    }
    /* line 244, scss/_responsive.scss */
    .blocks .section:nth-of-type(3) .left {
        display: none;
    }
    /* line 245, scss/_responsive.scss */
    .blocks .section:nth-of-type(3) .right {
        width: 100%;
    }
    /* line 248, scss/_responsive.scss */
    .blocks .section:nth-of-type(3) .what-is {
        margin: 0;
    }
    /* line 251, scss/_responsive.scss */
    .blocks .section:nth-of-type(3) .what-is .row {
        width: 100%;
        display: inline-block;
        text-align: center;
    }
    /* line 257, scss/_responsive.scss */
    .blocks .section:nth-of-type(3) .what-is span:nth-child(1) {
        padding: 0;
    }
    /* line 260, scss/_responsive.scss */
    .blocks .section:nth-of-type(3) .what-is .line {
        display: none;
    }
    /* line 261, scss/_responsive.scss */
    .blocks .section:nth-of-type(3) .what-is .icon {
        margin-right: 10px;
    }
    /* line 264, scss/_responsive.scss */
    .blocks .section:nth-of-type(3) .what-is .text {
        width: 330px;
        text-align: left;
    }
    /* line 269, scss/_responsive.scss */
    .blocks .section:nth-of-type(3) .btm-text {
        margin: 50px 0 0 0;
    }
    /* line 272, scss/_responsive.scss */
    .blocks .section:nth-of-type(3) .btm-text p {
        margin-bottom: 20px;
        color: #fff;
        line-height: 1.3;
    }
    /* line 281, scss/_responsive.scss */
    .blocks .section:nth-of-type(4) {
        padding: 30px 0;
    }
    /* line 284, scss/_responsive.scss */
    .blocks .section:nth-of-type(4) .razor-wrap {
        margin: 50px auto;
    }
    /* line 287, scss/_responsive.scss */
    .blocks .section:nth-of-type(4) .razor-wrap img {
        width: 100%;
        max-width: 400px;
    }
    /* line 292, scss/_responsive.scss */
    .blocks .section:nth-of-type(4) .left {
        width: 100%;
        padding: 0;
    }
    /* line 296, scss/_responsive.scss */
    .blocks .section:nth-of-type(4) .right {
        width: 100%;
        padding: 0;
        text-align: center;
    }
    /* line 304, scss/_responsive.scss */
    .blocks .section:nth-of-type(5) {
        padding: 30px 0;
    }
}
@media (min-width: 480px) and (max-width: 767px) {
    /* line 312, scss/_responsive.scss */
    body {
        overflow: hidden;
    }

    /* line 315, scss/_responsive.scss */
    .container {
        width: 100% !important;
        padding: 0 15px !important;
        box-sizing: border-box !important;
    }

    /* line 320, scss/_responsive.scss */
    .page-nav {
        position: fixed !important;
        float: none !important;
        display: block !important;
        top: 0;
        left: 0;
        padding: 15px;
        z-index: 25;
    }
    /* line 329, scss/_responsive.scss */
    .page-nav .open-close-nav {
        position: relative;
        height: 23px;
        z-index: 10;
    }
    /* line 334, scss/_responsive.scss */
    .page-nav .open-close-nav span {
        border-color: rgba(255, 255, 255, 0.5);
    }

    /* line 339, scss/_responsive.scss */
    .onepage-pagination {
        display: none;
    }

    /* line 340, scss/_responsive.scss */
    .zattoch-info {
        top: 20%;
        left: 0;
        right: 0;
        margin: 0 auto;
        text-align: center;
    }
    /* line 347, scss/_responsive.scss */
    .zattoch-info a {
        margin: 30px auto;
    }

    /* line 352, scss/_responsive.scss */
    .blocks .section {
        height: auto;
    }
    /* line 356, scss/_responsive.scss */
    .blocks .section:nth-of-type(1) {
        height: 100% !important;
    }
    /* line 361, scss/_responsive.scss */
    .blocks .section:nth-of-type(1) .light-left,
    .blocks .section:nth-of-type(1) .light-right,
    .blocks .section:nth-of-type(1) .lang {
        display: none;
    }
    /* line 368, scss/_responsive.scss */
    .blocks .section:nth-of-type(2) .title {
        margin: 30px 0;
        line-height: 1.5;
        font-size: 30px;
    }
    /* line 373, scss/_responsive.scss */
    .blocks .section:nth-of-type(2) .right {
        display: none;
    }
    /* line 374, scss/_responsive.scss */
    .blocks .section:nth-of-type(2) .left {
        width: 100%;
    }
    /* line 380, scss/_responsive.scss */
    .blocks .section:nth-of-type(3) {
        padding: 25px 0;
        background: url(../img/section3-320-bg.png) center no-repeat;
        background-size: cover;
    }
    /* line 385, scss/_responsive.scss */
    .blocks .section:nth-of-type(3) .title {
        color: #fff;
    }
    /* line 388, scss/_responsive.scss */
    .blocks .section:nth-of-type(3) .left {
        display: none;
    }
    /* line 389, scss/_responsive.scss */
    .blocks .section:nth-of-type(3) .right {
        width: 100%;
    }
    /* line 392, scss/_responsive.scss */
    .blocks .section:nth-of-type(3) .what-is {
        margin: 0;
    }
    /* line 396, scss/_responsive.scss */
    .blocks .section:nth-of-type(3) .what-is span:nth-child(1) {
        padding: 0;
    }
    /* line 399, scss/_responsive.scss */
    .blocks .section:nth-of-type(3) .what-is .line {
        display: none;
    }
    /* line 400, scss/_responsive.scss */
    .blocks .section:nth-of-type(3) .what-is .icon {
        margin-right: 10px;
    }
    /* line 403, scss/_responsive.scss */
    .blocks .section:nth-of-type(3) .what-is .text {
        width: 70%;
    }
    /* line 407, scss/_responsive.scss */
    .blocks .section:nth-of-type(3) .btm-text {
        margin: 50px 0 0 0;
    }
    /* line 410, scss/_responsive.scss */
    .blocks .section:nth-of-type(3) .btm-text p {
        margin-bottom: 20px;
        color: #fff;
        line-height: 1.3;
    }
    /* line 419, scss/_responsive.scss */
    .blocks .section:nth-of-type(4) {
        padding: 30px 0;
    }
    /* line 422, scss/_responsive.scss */
    .blocks .section:nth-of-type(4) .razor-wrap {
        margin: 50px auto;
    }
    /* line 425, scss/_responsive.scss */
    .blocks .section:nth-of-type(4) .razor-wrap img {
        width: 100%;
        max-width: 400px;
    }
    /* line 430, scss/_responsive.scss */
    .blocks .section:nth-of-type(4) .left {
        width: 100%;
        padding: 0;
    }
    /* line 434, scss/_responsive.scss */
    .blocks .section:nth-of-type(4) .right {
        width: 100%;
        padding: 0;
        text-align: center;
    }
    /* line 442, scss/_responsive.scss */
    .blocks .section:nth-of-type(5) {
        padding: 30px 0;
    }
}
@media (min-width: 320px) and (max-width: 479px) {
    /* line 450, scss/_responsive.scss */
    body {
        overflow: hidden;
    }

    /* line 453, scss/_responsive.scss */
    .container {
        width: 100% !important;
        padding: 0 15px !important;
        box-sizing: border-box !important;
    }

    /* line 458, scss/_responsive.scss */
    .page-nav {
        position: fixed !important;
        float: none !important;
        display: block !important;
        top: 0;
        left: 0;
        padding: 15px;
        z-index: 25;
    }
    /* line 467, scss/_responsive.scss */
    .page-nav .open-close-nav {
        position: relative;
        height: 23px;
        z-index: 10;
    }
    /* line 472, scss/_responsive.scss */
    .page-nav .open-close-nav span {
        border-color: rgba(255, 255, 255, 0.5);
    }

    /* line 477, scss/_responsive.scss */
    .onepage-pagination {
        display: none;
    }

    /* line 478, scss/_responsive.scss */
    .zattoch-info {
        top: 20%;
        left: 0;
        right: 0;
        margin: 0 auto;
        text-align: center;
    }
    /* line 485, scss/_responsive.scss */
    .zattoch-info a {
        margin: 30px auto;
    }

    /* line 490, scss/_responsive.scss */
    .blocks .section {
        height: auto;
    }
    /* line 494, scss/_responsive.scss */
    .blocks .section:nth-of-type(1) {
        position: relative !important;
        height: 100% !important;
    }
    /* line 500, scss/_responsive.scss */
    .blocks .section:nth-of-type(1) .light-left,
    .blocks .section:nth-of-type(1) .light-right,
    .blocks .section:nth-of-type(1) .lang {
        display: none;
    }
    /* line 507, scss/_responsive.scss */
    .blocks .section:nth-of-type(2) .title {
        margin: 30px 0;
        line-height: 1.5;
        font-size: 30px;
    }
    /* line 512, scss/_responsive.scss */
    .blocks .section:nth-of-type(2) .right {
        display: none;
    }
    /* line 513, scss/_responsive.scss */
    .blocks .section:nth-of-type(2) .left {
        width: 100%;
    }
    /* line 519, scss/_responsive.scss */
    .blocks .section:nth-of-type(3) {
        padding: 25px 0;
        background: url(../img/section3-320-bg.png) center no-repeat;
        background-size: cover;
    }
    /* line 524, scss/_responsive.scss */
    .blocks .section:nth-of-type(3) .title {
        color: #fff;
    }
    /* line 527, scss/_responsive.scss */
    .blocks .section:nth-of-type(3) .left {
        display: none;
    }
    /* line 528, scss/_responsive.scss */
    .blocks .section:nth-of-type(3) .right {
        width: 100%;
    }
    /* line 531, scss/_responsive.scss */
    .blocks .section:nth-of-type(3) .what-is {
        margin: 0;
    }
    /* line 535, scss/_responsive.scss */
    .blocks .section:nth-of-type(3) .what-is span:nth-child(1) {
        padding: 0;
    }
    /* line 538, scss/_responsive.scss */
    .blocks .section:nth-of-type(3) .what-is .line {
        display: none;
    }
    /* line 539, scss/_responsive.scss */
    .blocks .section:nth-of-type(3) .what-is .icon {
        margin-right: 10px;
    }
    /* line 542, scss/_responsive.scss */
    .blocks .section:nth-of-type(3) .what-is .text {
        width: 70%;
    }
    /* line 546, scss/_responsive.scss */
    .blocks .section:nth-of-type(3) .btm-text {
        margin: 50px 0 0 0;
    }
    /* line 549, scss/_responsive.scss */
    .blocks .section:nth-of-type(3) .btm-text p {
        margin-bottom: 20px;
        color: #fff;
        line-height: 1.3;
    }
    /* line 558, scss/_responsive.scss */
    .blocks .section:nth-of-type(4) {
        padding: 30px 0;
    }
    /* line 561, scss/_responsive.scss */
    .blocks .section:nth-of-type(4) .razor-wrap {
        margin: 50px auto;
    }
    /* line 564, scss/_responsive.scss */
    .blocks .section:nth-of-type(4) .razor-wrap img {
        width: 100%;
    }
    /* line 568, scss/_responsive.scss */
    .blocks .section:nth-of-type(4) .left {
        width: 100%;
        padding: 0;
    }
    /* line 572, scss/_responsive.scss */
    .blocks .section:nth-of-type(4) .right {
        width: 100%;
        padding: 0;
    }
    /* line 577, scss/_responsive.scss */
    .blocks .section:nth-of-type(4) .right .before,
    .blocks .section:nth-of-type(4) .right .after {
        width: 100%;
        margin-bottom: 30px;
    }
    /* line 581, scss/_responsive.scss */
    .blocks .section:nth-of-type(4) .right .img-wrap {
        margin: 0 auto;
    }
    /* line 584, scss/_responsive.scss */
    .blocks .section:nth-of-type(4) .right .and {
        display: none;
    }
    /* line 589, scss/_responsive.scss */
    .blocks .section:nth-of-type(5) {
        padding: 30px 0;
    }
    /* line 592, scss/_responsive.scss */
    .blocks .section:nth-of-type(5) .title {
        line-height: 1.5;
    }
    /* line 595, scss/_responsive.scss */
    .blocks .section:nth-of-type(5) .simple-text {
        width: 100%;
    }
}
